[2015-12-16 03:04] sudheesh001 opened #2 "Have a single size for the buttons"
The button sizes vary drastically , In case we're using the buttons one below the other, it always feels better to look at buttons whose sizes look the same on below the other.

I think a better solution would be to go for buttons aligned next to each other horizontally, since we're using green and red as color codes to indicate (YES/NO), having them side by side would be a better option.

[2015-12-16 03:11] sudheesh001 opened #3 "Remove highlights in the language selector window that opens up."
<img width="715" alt="screen shot 2015-12-16 at 8 38 34 am" src="https://cloud.githubusercontent.com/assets/4545925/11830992/6e09c33c-a3d0-11e5-8be1-1a17c3d084f2.png">

[2015-12-16 03:16] sudheesh001 opened #4 "Fix blog link from https => http"

[2015-12-20 09:02] choyiny opened #9 "Website does not work"
Currently going to http://whatcanidofor.fossasia.org redirects to http://whatcanidofor.fossasia.org/whatcanidofor.fossasia.org/en/index.html.

[2015-12-20 09:08] hvardhanx commented on #9
Probably this line redirects : https://github.com/fossasia/whatcanidofor.fossasia.org/blob/gh-pages/index.html#L6

[2015-12-20 09:29] hvardhanx commented on #9
Fixed https://github.com/fossasia/whatcanidofor.fossasia.org/commit/798195d2e72f287eb84165277e9234faa596dae0

[2015-12-20 09:29] #9 closed, assigned to nobody

[2015-12-23 08:36] anshuman73 commented on #4
I think this issues has been solved if you're referring to line 162 of /en/index.html

[2015-12-23 08:39] sudheesh001 commented on #4
Yes, this was filed long before and isn't valid now. Fixed on https://github.com/fossasia/whatcanidofor.fossasia.org/blob/gh-pages/en/index.html#L162

[2015-12-23 08:39] #4 closed, assigned to nobody

[2015-12-23 20:21] Abuissink opened #11 "Redirect Index Page Broken"
Hi all,
@royalharsh's commit 798195d, "Fixed Website" actually broke the index.html file. The only point of that file is to redirect users to the en/index.html. This is needed as you cannot change the default page in gh-pages. Where the confusion came from is that when running the site through `file://`, a localhost (eg Brackets' Live Preview) or a domain/subdomain, like if this ever makes it to `

[2015-12-23 20:44] mariobehling commented on #11
@Abuissink Thanks for your input. I think the different approaches are also resulting from using automated tools (e.g. asknot-ng) or building a site manually. At the moment the main goal is to have an English decision tree, that makes sense as well. We can also iterate step by step. You made a very nice first version. Thank you! Now we need to come up with a good plan for this site. I simplified t

[2015-12-23 20:44] #11 closed, assigned to nobody

[2015-12-23 21:19] mariobehling commented on #11
@Abuissink @royalharsh I have added a task to get input of students, so we come up with a better Q&A tree: https://codein.withgoogle.com/tasks/6440849055416320/?sp-organization=4625502878826496

[2015-12-26 10:41] shashank-sharma commented on #3
I simply edited the .css file which was jquery.uls.css by removing border and adding outline colour transparent with outline style none and now its working fine. Here is my pull request (https://github.com/fossasia/whatcanidofor.fossasia.org/pull/12).

[2015-12-26 11:36] #3 closed, assigned to nobody

[2015-12-26 11:37] #2 closed, assigned to nobody

[2015-12-30 20:58] yasoob opened #14 "Website not working"
Currently when it reached the `code` slide, everything disappears. I am not pro-efficient in JS otherwise I would have loved to solve this issue. :+1:

[2015-12-31 05:52] jig08 commented on #14
@yasoob +1
Link: http://whatcanidofor.fossasia.org/#code

[2015-12-31 05:53] jigyasa-grover commented on #14
@yasoob +1

![screenshot from 2015-12-31 11 22 35](https://cloud.githubusercontent.com/assets/9291400/12061615/dcf7c488-afb0-11e5-8211-f1b74a16f6e8.png)

[2015-12-31 05:54] jigyasa-grover commented on #14
But if we directly jump to [whatcanidofor.fossasia.org/#code](http://whatcanidofor.fossasia.org/#code) it seems to work :confused:

[2015-12-31 06:01] sudheesh001 commented on #14
Even if `#code` works directly in the given link, the next link `http://whatcanidofor.fossasia.org/#making-things-stable` goes blank but refreshing that works, this is interesting.

[2016-01-15 04:25] YashKumarVerma opened #20 "Cant find GCI task to improve tree"

[2016-01-15 04:25] YashKumarVerma commented on #20
i have made recommendations but unable to find the task ?

[2016-01-15 09:59] mariobehling commented on #20
If there are no more tasks, then tasks in this category are finished. We need help with our real world projects as well. Please check out http://github.com/loklak for example. Thank you.

[2016-01-15 09:59] #20 closed, assigned to nobody

[2016-01-15 13:58] YashKumarVerma commented on #20
thanks for reply sir.

[2016-01-20 16:42] mariobehling opened #25 "Substitute Gnome activities with FOSSASIA relevant activities"
Currently the what can i do answers are related to GNOME. Please substitute this with FOSSASIA relevant activities. You can take ideas from Code-In for example.

[2016-12-12 12:05] m1guelpf opened #32 "CodeIn 16"
Are you going to add any task to gci16 related to this?

[2016-12-13 14:59] hemanthsavasere opened #33 "Building new website"
Hi @mariobehling,
I want to take up the task of creating the website rebuilding it from scratch by myself.

[2016-12-13 15:01] Witus13 commented on #33
There is a task like that?

[2016-12-13 15:18] jigyasa-grover commented on #33
@hemanthsavasere  It'd be great if you could send in patches to enhance the present website, in order to build one from scratch you could always take up that task independently. Thanks !

[2016-12-13 15:19] #33 closed, assigned to nobody

[2016-12-13 16:27] hemanthsavasere commented on #33
thanks @jig08

[2016-12-14 10:19] mariobehling commented on #32
Actually, we have so many real projects. This project should be deprecated.

[2016-12-14 10:19] #32 closed, assigned to nobody

[2016-12-14 10:19] mariobehling commented on #25
Actually, we have so many real projects. This project should be deprecated.

[2016-12-14 10:19] #25 closed, assigned to nobody

[2016-12-14 10:20] mariobehling commented on #14
Actually, we have so many real projects. This project should be deprecated.

[2016-12-14 10:20] #14 closed, assigned to nobody

[2016-12-14 10:20] abishekvashok commented on #25
@mariobehling so you mean we'r gonna see the last of whatcanidofor.fossasia.org

[2017-11-29 12:52] abishekvashok opened #34 "Make the website"
Suggestions:
Modify the existing theme to fossasia design
Add:
- [ ] Mentors Section
- [ ] Students Section

They both should be dynamic, ie, we should make use of jekyll as done for the gci16 webiste
ref: https://github.com/fossasia/gci16.fossasia.org/

This will be a building block for students who can then do the tasks:
1. Add yourself to the gci17 website
2. Add a mentor to the gci17 website

[2017-11-29 12:52] abishekvashok commented on #34
Working on it...

[2017-11-29 12:56] abishekvashok opened #35 "Add travis and other CI tests"
Travis CI is a great solution to check the PR and merge with confidence.
We should integrate it with some tests.

[2017-11-29 12:57] gabru-md commented on #35
Travis and testing can be added after the website work has begun.
There is a task in GCI regarding creating GCI-17 FOSSASIA's website .
Please refer to that if you want to work on it.

[2017-11-29 14:55] idealadarsh commented on #34
@abishekvashok Are you creating both sections?

[2017-11-29 15:22] abishekvashok commented on #34
we can split if you would like @idealadarsh

[2017-11-29 15:22] abishekvashok commented on #35
Flag this as not required now then @gabru-md or close this issue

[2017-11-29 15:28] mariobehling commented on #34
Please don't change the theme. The theme is awesome. FOSSASIA's theme should also get an overhaul soon.

[2017-11-29 15:28] #34 closed, assigned to nobody

[2017-11-29 15:29] mariobehling opened #36 "Add mentors to the mentors section"
Please add a mentor to the mentors section.

[2017-11-29 15:31] abishekvashok commented on #34
👍

[2017-11-29 15:32] abishekvashok commented on #36
Working on it...

[2017-11-29 17:41] m1guelpf opened #38 "Jekyll"
In last year's website, we used Jekyll for student, mentor and project listing to avoid breaking things, merge conflicts, etc.

This year, we should do it again :smile:

[2017-11-29 17:44] m1guelpf opened #39 "Mantainers"
Last year, we had a group of students who volunteered for mantaining this repository (https://github.com/orgs/fossasia/teams/gci16-maintainers). I think this year we should make another (if we do it before website notifications _explode_, better).

Of course, I offer myself :smile:

WDYT @mariobehling @niccokunzmann?

[2017-11-29 17:49] mariobehling commented on #39
Good idea, but we need to see some initial commits before assigning rights to students. Students should follow Best Practices (https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/) and provide a test page and screenshot of their changes. I see that you did not do this yet at your last merged pull request. Therefore we will give students more time to get accustomed

[2017-11-29 17:49] #39 closed, assigned to nobody

[2017-11-29 21:03] jigyasa-grover commented on #38
@mariobehling ping.

[2017-11-29 21:20] mariobehling commented on #38
If you want to implement Jekyll, then you need to implement it using the current design. Cheers.

[2017-11-30 07:05] m1guelpf commented on #38
@mariobehling Will do when I finish current task 😄

[2017-11-30 11:51] abishekvashok commented on #38
@mariobehling @jigyasa-grover can you include the git hook for jekyll then.
ref: https://jekyllrb.com/docs/deployment-methods/

That was done last year I guess.

[2017-11-30 13:11] abishekvashok commented on #36
@mariobehling #46 adds you.

[2017-11-30 14:09] m1guelpf commented on #38
@abishekvashok Last year, we used Travis CI for that...

[2017-11-30 14:13] abishekvashok commented on #38
That was for testing i guess. I think the hooks not needed now.

[2017-11-30 17:48] harshit98 commented on #35
@gabru-md I would suggest adding Travis CI just like other FOSSASIA repositories before proceeding on website work. :)

@abishekvashok Would you like to set up Travis CI in this repository?

[2017-11-30 18:45] m1guelpf commented on #38
@mariobehling @jigyasa-grover Opened https://github.com/fossasia/gci17.fossasia.org/pull/52

[2017-12-01 04:20] abishekvashok commented on #35
@harshit98 sure

[2017-12-01 04:39] gabru-md commented on #35
Okay! @harshit98
:smile:

[2017-12-01 04:56] jigyasa-grover commented on #35
@abishekvashok Pls go ahead with setting up TravisCI and if possible, take up the corresponding task on the GCI dashboard as well for brownie points, Cheers 🎉

[2017-12-01 04:57] jigyasa-grover commented on #38
@m1guelpf Cool !

[2017-12-01 06:13] abishekvashok commented on #35
@jigyasa-grover sure.

[2017-12-01 06:27] abishekvashok commented on #35
@jigyasa-grover #55 does it.

[2017-12-01 08:20] #35 closed, assigned to nobody

[2017-12-01 08:25] abishekvashok commented on #35
@jigyasa-grover also don't forget to enable it in the travis ci dashboard.

[2017-12-01 09:09] harshit98 opened #58 "Add auto-deployment feature."
Add auto-deployment feature. It should work as:
- Demo link should be generated easily.
- It will be easier for the mentors to review the pull requests.

[2017-12-01 09:11] abishekvashok commented on #58
The format for the link is:
https://username.github.io/gci17.fossasia.org/

[2017-12-01 11:03] 0x48piraj commented on #58
On it @harshit98 and @abishekvashok  :wink:

[2017-12-01 11:36] abishekvashok opened #61 "Add thanks for contributing section"
Add thanks for contributing section to the website with multiple language support.

[2017-12-01 11:36] abishekvashok commented on #61
Working on it.

[2017-12-01 11:37] gabru-md commented on #61
Can you please tell what is "multiple language support". ?

[2017-12-01 11:39] abishekvashok commented on #61
@gabru-md sure, just like last year's website we will display "Thank you for contributing" in a language, then with javascript after some seconds display it in another language.

[2017-12-01 11:42] gabru-md commented on #61
That will be great!
Keep going
Cheers

[2017-12-01 12:33] abishekvashok commented on #61
@gabru-md done in #62

[2017-12-01 16:47] NaviRocker opened #66 "No Blog Section"
Blog Section is missing

[2017-12-01 16:48] abishekvashok commented on #35
@fossasia/fossasia-gci can someone enable travis CI building in the dashboard, it's still not enabled yet.

[2017-12-01 16:50] abishekvashok commented on #36
@mariobehling you got the data of the google form responses where mentors apply right? Can you provide them here, I think that will benefit the new contributors. What do you think?

[2017-12-01 16:51] abishekvashok commented on #66
@naveentherocker would be great if it were dynamic like how mentors are added, with jekyll. What do you think? That will keep index.html small.

[2017-12-01 21:56] #66 closed, assigned to nobody

[2017-12-02 02:30] kaine119 opened #67 "Performance issues?"
The overall layout for the GCI pages over the past few years have been quite similar: many different sections (a map, the students/mentors/contributors gallery, projects, and so on) all on one large homepage.

While a single page makes sense at smaller scales, some issues might crop up as more things are added to the page:
* greater risk that a merge conflict might break the page
* (more important

[2017-12-02 04:03] kaine119 commented on #67
So far I've moved the mentor section out into its own file; working files on [my fork](https://github.com/kaine119/gci17.fossasia.org/tree/separate-pages)

[2017-12-02 07:28] abishekvashok commented on #61
@naveentherocker let's be professional, it would be great if you could follow the best practises:
https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

I was working on it, and got a approved PR, but however you pushed in another solution and got my PR closed; It's okay since you are new, but next time on wards pls try not to collide with other,s comment on an issu

[2017-12-02 10:05] #61 closed, assigned to nobody

[2017-12-02 15:38] abishekvashok opened #76 "Bug at index.html"
{{mentor.github}} should have been {{mentor.facebook}}
[code]

On a fix.
Not tagging any points for this one as it's too simple.

[2017-12-03 10:18] abishekvashok commented on #76
Closed via #74

[2017-12-03 10:18] #76 closed, assigned to nobody

[2017-12-03 10:19] kubami9 opened #83 "Add translations"
Is it good time to add translations to the website? I'd really like to add Polish translation and I'm ready to regularly update it and commit :)

[2017-12-03 10:19] abishekvashok opened #84 "[GCI Task]: Add/Improve CI and tests integration with Travis and other tools."
Travis ci build for this project is still disabled. Please enable it in the Travis ci dashboard. https://travis-ci.org

[2017-12-03 11:31] abishekvashok opened #86 "Enhance slider and header"
The header and slider have really minute improvements,

Therefore we have to:
- [x] Update Header links
- [ ] Enhance the slider with fossasia specific text and images.

[2017-12-03 11:32] abishekvashok commented on #86
Working on it

[2017-12-03 11:34] abishekvashok opened #87 "Add students project's section"
A student project section s outlined by https://codein.withgoogle.com/tasks/5272972275220480/?sp-organization=6237166344601600&sp-is_beginner=False; so that students can use that to showcase the projects used done by them during gci for fossasia.

[2017-12-03 11:34] abishekvashok commented on #87
Working on it. Implementing it with jekyll.

[2017-12-03 14:11] abishekvashok commented on #87
Done in #90

[2017-12-03 14:26] shalithasuranga opened #93 "Newsletter subscription is not working"
When I tried to subscribe fossasia newsletter found that [http://news.fossasia.org/subscribe](http://news.fossasia.org/subscribe) location which receives POST from main site is broken

[2017-12-03 14:26] shalithasuranga commented on #93
Wrong place.. closing the issue

[2017-12-03 14:26] #93 closed, assigned to nobody

[2017-12-03 14:59] ParthS007 opened #96 "Add Issue and PR template"
Add an Issue and a PR template just like other repositories of FOSSASIA  and Put it in the desired .github folder.

Please go through it [https://github.com/fossasia/gci16.fossasia.org/tree/gh-pages/.github](https://github.com/fossasia/gci16.fossasia.org/tree/gh-pages/.github)

[2017-12-03 15:05] nzec commented on #86
What exactly is meant by sliders? I am working on the header links.

[2017-12-03 15:05] abishekvashok commented on #87
Done in #97

[2017-12-03 15:11] #87 closed, assigned to nobody

[2017-12-03 16:03] YashKumarVerma commented on #86
I'm working on slider text. Any specifics regarding the content sir?

[2017-12-03 16:07] YashKumarVerma commented on #86
@duttaditya18 the slider means refers to the top of the page which has that cover background and some lines.
The thing that holds *meet fossasia, the... * and the other slide being *meet foundary... *

[2017-12-03 16:08] YashKumarVerma commented on #96
Working on it

[2017-12-03 16:15] nzec commented on #86
@YashKumarVerma Oh okay. Thanks. I will work on the Header Links!

[2017-12-03 16:21] NaviRocker opened #98 "index.html:Youtube Video is not Responsive"
The Youtube Video is not responsive

[2017-12-03 16:58] supunTE opened #100 "Remove"
Remove unnecessary files that didn't goes with Title.

[2017-12-03 17:48] ParthS007 commented on #96
Sure go ahead :+1:

[2017-12-03 17:49] ParthS007 commented on #100
@STEdirisuriya please give details about the files that you want to remove

[2017-12-03 18:22] #98 closed, assigned to nobody

[2017-12-03 18:54] kubami9 commented on #98
I also made PR which fixes resolution on the smallest devices

[2017-12-03 18:58] kubami9 commented on #86
Can I work on the header images?

[2017-12-03 20:15] nzec commented on #86
@abhishekvashok Take a look at #101

[2017-12-04 09:07] nzec commented on #86
@abishekvashok The first checklist was solved by #101. Please mark "Update Header links" as done.

My task was : https://codein.withgoogle.com/dashboard/task-instances/5173243537260544/

[2017-12-04 12:10] abishekvashok commented on #38
Seems like @AKostiv8 solved this.

[2017-12-04 12:33] abishekvashok opened #110 "Add a map with co-ordiantes students and mentors"
Just like the previous years website can we have a map with geo-cordinates of mentors and students.
I think it will be nice and foster community bondings.
We can use the geo locator used for that purpose: https://fossasia.github.io/geolocation/
(we can also use other geo locators available on thew web)
What do you think?

[2017-12-04 12:33] abishekvashok commented on #110
If it's feasible I would love to work on it.

[2017-12-04 12:44] abishekvashok opened #111 "Add documentation on how to add a student"
We got a nice simple set of instructions on how to add a mentor in readme but not the student.
Can we have that as well?

[2017-12-04 12:54] nzec commented on #111
@abishekvashok On it! I will also add instructions for Student Projects in the Readme.

[2017-12-04 13:05] AKostiv8 commented on #111
I have already done it

[2017-12-04 13:24] abishekvashok commented on #110
Done in #113

[2017-12-04 13:50] nzec commented on #111
@abishekvashok Added Student and Projects documentation and some notes in #114

(I know @AKostiv8 solved it before me but I also added other stuff.)

See it at : https://github.com/duttaditya18/gci17.fossasia.org/blob/gh-pages/README.md

[2017-12-04 14:01] #111 closed, assigned to nobody

[2017-12-04 14:02] nzec commented on #111
My PR just got accepted. This issue can be closed now.

[2017-12-04 16:26] #110 closed, assigned to nobody

[2017-12-04 16:45] ba11b0y commented on #36
Yes @abishekvashok , but you most probably will be requiring an image which was not submitted in the google form.

[2017-12-04 16:46] ba11b0y commented on #84
@mariobehling Do we really need a travis build for this project?

[2017-12-04 16:50] ba11b0y commented on #67
@kaine119 Good point 👍
@mariobehling Maybe we could switch to a Progressive Web App approach.
Thoughts?

[2017-12-04 21:19] kubami9 commented on #67
And how about language translations? They are going to be in the separate html files, right?

[2017-12-04 22:16] #96 closed, assigned to nobody

[2017-12-05 01:34] kaine119 commented on #67
I'd be happy to help :smile:

Depends on how the translations are going to be implemented:
* if new `index.html` files are going to be made for other languages and put in a subdirectory (e.g. `gci17.fossasia.org/pl/index.html`), then copies of the section html files should be made for each language
* if translations are put directly in `index.html` and hidden as needed, the same will be done in th

[2017-12-05 01:44] YashKumarVerma commented on #86
I think the issue is solved now.

[2017-12-05 04:16] #86 closed, assigned to nobody

[2017-12-05 10:30] nzec commented on #100
This issue is obscure and @STEdirisuriya has not given any more details.
I think this should be closed. @fossasia/fossasia-gci

[2017-12-05 11:43] abishekvashok commented on #36
But we could ask them from that list :)

[2017-12-05 11:44] anshumanv commented on #36
Here's the team - https://github.com/orgs/fossasia/teams/fossasia-gci
Pick any mentor from it.

[2017-12-05 11:59] YashKumarVerma opened #125 "Animations to the site ?"
### Expected results
How about adding animations to our site ?

### Actual results
It's just there. :/ No animations.

### Steps to reproduce the issue
Just use a open source library and add animations

## Would you like to work on this
Yes !

[2017-12-05 12:02] anshumanv commented on #125
Please go ahead @YashKumarVerma :smile:
Cool Idea!

[2017-12-05 12:11] YashKumarVerma commented on #125
for now, i'm adding fadeIn animations to the headings using animate.css . as the content increases on the site, others headings would be covered too.
[https://daneden.github.io/animate.css/](https://daneden.github.io/animate.css/)

[2017-12-05 12:45] nzec commented on #125
@YashKumarVerma Maybe add a hover animation on the images? I think that would look good. I do not know for sure though.
Good luck.

[2017-12-05 13:30] abishekvashok commented on #38
I think this can be closed @m1guelpf what do you think?

[2017-12-05 14:52] #125 closed, assigned to nobody

[2017-12-05 15:52] YashKumarVerma commented on #125
working on it @duttaditya18

[2017-12-05 15:52] YashKumarVerma commented on #125
will be adding in near future

[2017-12-05 19:03] #38 closed, assigned to nobody

[2017-12-05 23:04] harshit98 commented on #58
I'm closing this issue, since there is already a format for the link present.

[2017-12-05 23:04] #58 closed, assigned to nobody

[2017-12-06 04:53] nzec opened #136 "Problem in scripts and merging."
### Expected results
* Scripts properly working. (Smooth Scroll, Map)

### Actual results
* Someone did not merge the right way which resulted in these : https://imgur.com/a/JFg1q
* Mentors and Contributors are rendering without Jekyll.
* Jekyll inside JS is causing problems.

### Steps to reproduce the issue
Fix whatever is wrong.

## Would you like to work on this
I do not understand what is goi

[2017-12-06 05:11] nzec commented on #136
So I looked into this and found out that the problem is being caused due to 477f1b1cba8bbd44f92c3ce3ab7b03053acb8203
In my belief, @STEdirisuriya compiled the Jekyll and merged it. I would request @fossasia/fossasia-gci to look into this.

[2017-12-06 06:54] ryushar commented on #136
I hope the pull request that Ill make soon will fix most of it.
https://2coolife.github.io/gci17.fossasia.org/
fixed merge conflicts and using jekyll templates again.
Gonna fix some more stuff and then make a pull request.

[2017-12-06 07:07] nzec commented on #136
@2coolife That is so awesome of you.

[2017-12-06 08:35] ryushar commented on #136
:smile: I think this would take care of it.

[2017-12-06 11:54] harshit98 commented on #84
**OBJECTIVE:**

Add and improve Travis CI in GCI 2017 FOSSASIA repository.

**REQUIREMENT:**

Knowledge of Travis CI.

**OUTCOME:**

A pull request with improvements in Travis CI or addition of Travis CI.

**LINK:**

- Refer to Travis CI official documentation: https://docs.travis-ci.com/user/getting-started/
- Time period: 3 days.
- Type: Training.
- Advanced Task.

[2017-12-06 11:55] abishekvashok commented on #84
I would like to work on it @harshit98 Can I?

[2017-12-06 11:56] abishekvashok commented on #84
@harshit98 can we integrate https://github.com/abishekvashok/img_checker for checking if the images are in proper dimensions?

[2017-12-06 11:57] abishekvashok commented on #84
Also pls activate the repository on Travis

![screenshot from 2017-12-06 17-26-58](https://user-images.githubusercontent.com/8947010/33660685-b9c02f74-daaa-11e7-9a25-c031a33ca169.png)

Go to this link to activate: https://travis-ci.org/fossasia/gci17.fossasia.org/

[2017-12-06 11:59] abishekvashok commented on #136
@duttaditya18 that was becasue
[code]

were missing on top of index.html, that two lines tell jekyll that it is used in the file :)

[2017-12-06 12:23] nzec commented on #136
@abishekvashok Still doesn't look like it is fixed.

[2017-12-06 12:30] abishekvashok commented on #136
who's working on it?

[2017-12-06 12:35] abishekvashok commented on #136
Taking it up as it's a priority issue.

[2017-12-06 13:24] ba11b0y commented on #100
@STEdirisuriya Please elaborate on this issue.

[2017-12-06 13:49] meets2tarun opened #148 "Unnecessary HEAD tag"
### Expected results
Head tag should be removed
### Actual results
![bug](https://user-images.githubusercontent.com/15213246/33664603-3dee5618-daba-11e7-88d8-c5b4a0fa41dc.png)
### Steps to reproduce the issue
https://gci17.fossasia.org/

[2017-12-06 13:51] ba11b0y commented on #148
@meets2tarun This was introduced because of a wrong merge by me. This already has a PR, please wait while it is fixed

[2017-12-06 15:27] niranjannitesh opened #151 "Readme Typo Error"
## Expected results
**Adding a Student**
To add a student open the file `students.yml `in `_data` folder and please maintain the following format EXACTLY (replacing values where indicated):

**Adding a Student Project**
To add a student project open the file `student_projects.yml `in `_data` folder and please maintain the following format EXACTLY (replacing values where indicated):

### Actual res

[2017-12-06 16:14] abishekvashok commented on #136
@fossasia/fossasia-gci can we revert #118 as it built jekyll on his local machine and removed keyll dynamic code with static one?

[2017-12-06 16:15] abishekvashok commented on #151
@niteshkumarniranjan pls go  on

[2017-12-06 16:30] abishekvashok commented on #84
Ping @fossasia/fossasia-gci

[2017-12-06 16:48] 0x48piraj commented on #151
I can do it. Will give it a try!

[2017-12-06 19:24] chashmeetsingh commented on #84
Travis has been enabled, you can proceed.

[2017-12-07 06:16] kartikeya23 opened #160 "Blog section apperas twice"
The Blog section followed by the section with images from the 2017 FOSSASIA Summit appears twice

[2017-12-07 09:21] dilpreetsio opened #163 "Contributors are listed twice in the contributors section"
### Expected results
Contributors are appearing twice in the contributors section
### Actual results
Contributors should appear once in the contributors section
### Steps to reproduce the issue
Check the contributors section

[2017-12-07 13:14] abishekvashok commented on #84
@chashmeetsingh @harshit98 which is the task I should claim?

[2017-12-07 13:20] abishekvashok opened #166 "Resize images which are out of dimension."
### Expected results
Images should be in correct dimensions, 240x240 px.

### Actual results
11 image(s) have greater dimensions then specified.

The images are exactly as follows (reported by img_checker integrated on #165 )

The image ./img/blog/3.jpg is larger than 240px x 240px [w x h]
The image ./img/blog/2.jpg is larger than 240px x 240px [w x h]
The image ./img/mentors/ansh.jpg is larger th

[2017-12-07 13:21] abishekvashok commented on #84
Claimed task for advanced issue

[2017-12-07 16:17] samyakbvs commented on #166
claiming

[2017-12-07 16:31] anshumanv commented on #136
@abishekvashok that seems to be the only solution to this, but it was merged long back and a lot of changes have been done since then, we will lose a lot of data, can you think of another workaround else this is the only path we can take.

[2017-12-07 17:24] awesometushar000 commented on #151
https://github.com/fossasia/gci17.fossasia.org/pull/164

[2017-12-07 17:29] awesometushar000 opened #172 "Lightbox grid gallery is appering twice"
### Expected results
It should not appear twice.

### Actual results
It shouldn't appear twice.

### Steps to reproduce the issue
visit gci website

## Would you like to work on this
yes as a gci task

[2017-12-07 19:40] #166 closed, assigned to nobody

[2017-12-07 22:01] #67 closed, assigned to nobody

[2017-12-08 04:09] nzec commented on #136
@anshumanv @abishekvashok This issue was fixed by #138. Closing this right now.

[2017-12-08 04:09] #136 closed, assigned to nobody

[2017-12-08 04:20] dilpreetsio opened #179 "Travis: Change the size of the images to 240 x 240"
![](https://user-images.githubusercontent.com/8947010/33717206-10eafcdc-db7f-11e7-802c-da1fd8650772.png)

Change the size of the images listed in the image to 240 x 240

[2017-12-08 07:30] awesometushar000 commented on #179
https://travis-ci.org/fossasia/gci17.fossasia.org/jobs/313342013#L686

[2017-12-08 11:06] #179 closed, assigned to nobody

[2017-12-08 11:56] abishekvashok commented on #172
@awesometushar000 I think that was intentional. Can you find something to display there?

[2017-12-08 12:28] the-codingninja commented on #163
I think this issue is now solved now!!
Cheers :tada:

[2017-12-08 12:28] #163 closed, assigned to nobody

[2017-12-08 12:34] #160 closed, assigned to nobody

[2017-12-08 12:38] #148 closed, assigned to nobody

[2017-12-08 12:40] the-codingninja commented on #148
It is already fixed
Cheers!!

[2017-12-08 12:45] the-codingninja commented on #151
This issue was fixed hence closing it!!
Cheers :sparkles:

[2017-12-08 12:45] #151 closed, assigned to nobody

[2017-12-08 12:54] Jeewal opened #186 "Issue with Alignment in Contributors portion."
### Expected results
Properly aligned contributors portion

### Actual results
![image](https://user-images.githubusercontent.com/34208541/33766765-14382ab8-dc47-11e7-8505-b3725339383d.png)

### Steps to reproduce the issue

##
I would like to work on this

[2017-12-08 12:55] Jeewal commented on #186
@ms10398  I am going to work on this.

[2017-12-08 13:05] abishekvashok commented on #186
@Jeewal I made some changes in #187.

[2017-12-08 13:14] Jeewal commented on #186
So the Issue is resolved it seems ! Great. I'll choose another issue to work on then. :)    @abishekvashok :+1:

[2017-12-08 13:45] #186 closed, assigned to nobody

[2017-12-08 15:29] abishekvashok opened #189 "Make blog section dynamic"
### Expected results

Blog section should be dynamic and build from jekyll

### Actual results

Blog section is static

## Would you like to work on this

Yes

[2017-12-08 15:29] abishekvashok commented on #189
Working on it.

[2017-12-08 16:47] #189 closed, assigned to nobody

[2017-12-08 17:06] dumprop commented on #83
I can help with Russian language

[2017-12-09 00:58] YashKumarVerma opened #193 "Adding Social Media embed"
### Expected results
Our site should have our social media handles/pages on the site

### Actual results
There's no place for tweets, facebook page and google+ page.

### Steps to reproduce the issue
Add twitter tweets embed
Add facebook page embed
Add google profile embed

## Would you like to work on this
Sure. Working on it !

[2017-12-09 11:05] supunTE commented on #100
I said about the details that don't going with FOSSASIA. You have to delete them. And delete unuseful things for students.

[2017-12-09 12:50] sudheesh001 commented on #100
@STEdirisuriya We are still not clear on what you're asking for. What are the unuseful things for students here that needs to be removed? Can you point to some of them that should be removed. I am in the meanwhile closing this issue and happy to reopen it if it can be better phrased with a goal in mind.

[2017-12-09 12:50] #100 closed, assigned to nobody

[2017-12-09 15:19] m1guelpf opened #206 "Optimizing images"
### Expected results
- The images are optimized to make the page load faster

### Actual results
- The images aren't optimized

### Steps to reproduce the issue
- Check the size of the images

## Would you like to work on this
- Of course!

## How to fix this

- Two steps:
1. Make a PR to optimize the images (https://github.com/fossasia/gci17.fossasia.org/pull/207)
2. Seems like @abishekvashok alr

[2017-12-09 17:19] #206 closed, assigned to nobody

[2017-12-09 17:29] samyakbvs opened #211 "The social media links are added two times"
### Expected results
one of them is removed

### Steps to reproduce the issue
edit and delete the code for one

## Would you like to work on this
Yes

[2017-12-09 17:37] mariobehling opened #212 "Change "App Sections" to use FOSSASIA Android App"
There are two app sections on the site. Change the sections to cover two FOSSASIA Android apps.

Instead of the placeholder app images create a high quality app image of a FOSSASIA app and add relevant text and links in one section.

![screenshot from 2017-12-09 18-35-08](https://user-images.githubusercontent.com/1583873/33797897-f6af5330-dd0f-11e7-9c93-dfe42b04a6f0.png)

[2017-12-09 17:39] mariobehling opened #213 "Make the drop down menu red on scroll over same as fossasia.org"
The scroll down item that is on "scroll over" should be red same as on http://fossasia.org

![screenshot from 2017-12-09 18-37-43](https://user-images.githubusercontent.com/1583873/33797912-3a59ecd0-dd10-11e7-8f77-08420f80f638.png)

[2017-12-09 17:40] samyakbvs commented on #211
Those links aren't required

[2017-12-09 17:53] kubami9 opened #217 "Projects section in the footer"
### Expected results
Projects link in the footer

### Actual results
Currently there is some sample 'Products' content

### Steps to reproduce the issue
Add links to the footer

## Would you like to work on this
Already working on it!

[2017-12-09 17:54] 0x48piraj commented on #212
I'm on it @mariobehling, I was going to file an issue on this :wink:
As the task requires quality images, I will take some time. :+1:

[2017-12-09 17:57] mariobehling opened #218 "Link top left logo to fossasia.org and ensure correct scaling"
The top left logo looks scaled out of proportion. Please correct it and link the top left to https://fossasia.org.

[2017-12-09 18:02] kubami9 commented on #218
I would like to work on it

[2017-12-09 18:42] m1guelpf opened #221 "Adding Danger"
### Expected results
- Like last year, a friendly bot replies to new Pull Requests telling the author how to improve it

### Actual results
- There isn't such a thing in place

### Steps to reproduce the issue
- Open a PR

## Would you like to work on this
- Of course!

## How to do this
- [x] PR adding a Dangerfile to make the bot work. This PR can be merged while we wait for the second part. (ht

[2017-12-09 20:55] kubami9 commented on #218
I'm ready to make a PR, just need to wait for my previous to be merged :)

[2017-12-10 07:03] nzec commented on #213
On it!

[2017-12-10 07:22] kol4k commented on #213
Like this?
![captureitplus636485124706873364](https://user-images.githubusercontent.com/19734061/33802913-6d882a36-ddb5-11e7-9343-b37b90f7eb23.png)

[2017-12-10 07:28] nzec commented on #213
@kol4k Go on!

[2017-12-10 07:35] kol4k commented on #213
https://github.com/fossasia/gci17.fossasia.org/pull/229 added scroll effect

[2017-12-10 09:31] kol4k commented on #193
i working on it!

[2017-12-10 09:45] kol4k opened #233 "Added the Fossasia Git CGI17 Issue information"
### Expected results
Added the Fossasia Git CGI17 Issue information with the Github API
### Actual results
There's no place for API Issue Github
### Steps to reproduce the issue
add API with Ajax

[2017-12-10 10:40] abishekvashok opened #234 "Enhance social media on footer"
### Expected results

- [x] Reuse Recent Posts
- [x] change twitter tweets delivered from @mrareweb to that of @hpdang or @mariobehling
- [x] Add vimeo, dribble links

### Actual results

Recent Posts on footer are not changed from that the template contains.
Twitter tweets delivered from handle of of @hpdang or @mariobehling
Dribble, vimeo links should be added.

## Would you like to work on this

[2017-12-10 11:20] #217 closed, assigned to nobody

[2017-12-10 11:55] #234 closed, assigned to nobody

[2017-12-10 11:59] samyakbvs opened #240 "Missing links below pitch and connect"

[2017-12-10 12:42] niranjannitesh opened #242 "Some Mentors Are Missing from Page"
### Expected results
Already having 11 mentors listed on the page.

### Actual results
Now only 5 are listed.

### Steps to reproduce the issue

## Would you like to work on this
No, Because I had already added 8 extra but now some pull request had deleted the list.

[2017-12-10 12:44] anshumanv commented on #242
Mentors have been moved to a separate page - https://gci17.fossasia.org/mentors.
Hence main page only displays a few of them

[2017-12-10 12:44] #242 closed, assigned to nobody

[2017-12-10 13:07] anshumanv opened #243 "Align blog posts properly"
### Expected results
The blogs should be correctly alligned
### Actual results
![image](https://user-images.githubusercontent.com/21009455/33805113-08db1cbe-ddd9-11e7-9ae1-7c96712ecb38.png)

### Steps to reproduce the issue
Visit https://gci17.fossasia.org/#student-blog
## Would you like to work on this
No, Open for students

[2017-12-10 13:28] abishekvashok commented on #240
Can we close this @samyakbvs

[2017-12-10 13:29] abishekvashok commented on #243
I can find that when I delete the div that contains the 2nd last blog post of the 2nd row, it is all fine.

[2017-12-10 15:33] abishekvashok commented on #233
@kol4k I can't get you

[2017-12-10 15:45] duttaditya18 commented on #243
@anshumanv On it!
@abishekvashok Please work on some other issue.

[2017-12-10 15:49] nzec commented on #172
@awesometushar000 It was intentional. Please close this now!

[2017-12-10 15:49] nzec commented on #218
Close this please.

[2017-12-10 15:49] anshumanv commented on #243
Cool @abishekvashok, please send a PR for the fix. :smile:

[2017-12-10 15:50] abishekvashok commented on #243
@anshumanv but I can't really find out why, can you give me some outputs?

[2017-12-10 15:51] anshumanv commented on #243
Outputs as in? What can I help you with?

[2017-12-10 15:54] nzec commented on #243
@abishekvashok I think this will be fixed if a div with class `.row` would be added after every 3 people.

[2017-12-10 15:58] #193 closed, assigned to nobody

[2017-12-10 15:59] anshumanv commented on #243
Yea mostly it's due to improper rows.

[2017-12-10 16:11] #172 closed, assigned to nobody

[2017-12-10 16:24] supunTE opened #249 "Menu bar not working"
### Expected results
When you go to students page and click welcome tab welcome section in the home page must be shown.
### Actual results
When you go to students page you can't to come again to home page using menu bar.
And other menu bar buttons are same.
### Steps to reproduce the issue
Give correct link in to menu bar buttons, If you click mentor tab added "#mentors" to the URL. It works when

[2017-12-11 05:44] #218 closed, assigned to nobody

[2017-12-11 06:56] aashutoshrathi opened #254 "Menu Bar options don't work after we click see more"
### Expected results
Clicking on any option in the menubar at https://gci17.fossasia.org/students should lead normally to the page expected.

### Actual results
Menubar won't work on pages like https://gci17.fossasia.org/{attribute}
Due to single page design and anchor references.

### Steps to reproduce the issue
Go to https://gci17.fossasia.org/students or https://gci17.fossasia.org/mentors
and

[2017-12-11 07:03] aashutoshrathi opened #255 "Add Favicon"
### Expected results
We should have a favicon

### Actual results
No favicon on Chrome 62.0.3202.94, Windows 10

![image](https://user-images.githubusercontent.com/21199234/33819835-7b78df74-de72-11e7-9b04-b54054b5af5e.png)

## Would you like to work on this
No

[2017-12-11 11:20] YashKumarVerma commented on #255
working on it @aashutoshrathi . Thanks for the issue you raised.

[2017-12-12 06:21] Ploypiti opened #269 "Improve Fossasia GCI 2017 website"
**This refers to the task [Website: Let's build the FOSSASIA Google Code-In website together and add a feature](https://codein.withgoogle.com/tasks/5728573547610112/?sp-organization=6237166344601600&sp-is_beginner=False)**

### Expected results

- Bugs Fixed
- Improved looks and feels
- Important features added
- Unnecessary placeholders removed **AND**/**OR**
- Replace some placeholders with more

[2017-12-12 08:13] supunTE commented on #255
Can I work on this?

[2017-12-12 08:14] abishekvashok commented on #255
Sure

[2017-12-12 08:15] ParthS007 commented on #255
@STEdirisuriya This is issue is resolved by @YashKumarVerma

[2017-12-12 08:15] #255 closed, assigned to nobody

[2017-12-12 08:15] supunTE commented on #36
I added two

[2017-12-12 10:06] akshatnitd opened #273 "Add documentation for running the website locally"
### Expected results
A documentation for installation and running the website locally
- [x] For installation in Windows
- [x] For installation in Linux
- [x] For installation in MacOS

[2017-12-12 10:10] vaibhavsingh97 commented on #269
Hi @Ploypiti Awesome work! Now you had figured so many issues so you can start fixing the same. Some issues I wanna Discuss:
1. As you mentioned in Point 4 `Zoom and display personal info/motto when hovering on the Mentors, Contributors, and Students section like the Fossasia summit site and this theme`. You can add a dummy placeholder. Nice Idea 👏
2. In Point 5, ` Add visible border to separate M

[2017-12-12 11:41] Ploypiti commented on #269
This is what I mean (screenshot uploaded)
https://ibb.co/dvdCLG

[2017-12-12 11:45] anshumanv commented on #269
Looks good @Ploypiti, go for it.
Not sure about removing removing placeholders though.

[2017-12-12 11:52] Ploypiti commented on #269
@vaibhavsingh97 What do you mean by _add content If they don't know anything_?

[2017-12-12 13:17] samyakbvs commented on #254
claiming

[2017-12-12 13:29] samyakbvs opened #275 "The section below Pitch us isn't correctly aligned"
### Expected results
The section is aligned
### Actual results
They are unaligned
### Steps to reproduce the issue
Resize the incorrect images
## Would you like to work on this
yes\

[2017-12-12 13:38] anshumanv commented on #275
Please fill the Issue template correctly.

[2017-12-12 13:53] samyakbvs commented on #275
@anshumanv how should I resize the image(s) they are taken from the net

[2017-12-12 13:55] anshumanv commented on #275
Which image?
Please add screenshots of the problem too, if possible.

[2017-12-12 14:19] samyakbvs commented on #275
![screen shot 2017-12-12 at 7 48 27 pm](https://user-images.githubusercontent.com/34275800/33889222-77fcdee6-df75-11e7-963c-3e160b3e8e62.png)
This was the problem @anshumanv but I guess I have fixed it in my PR now

[2017-12-12 19:14] vaibhavsingh97 commented on #273
You can send multiple PR to solve this issue

[2017-12-12 19:24] supunTE commented on #254
I said it. https://github.com/fossasia/gci17.fossasia.org/issues/249

[2017-12-13 03:51] Ploypiti commented on #243
Guess it was because of long post titles so the margin of the **post title div** cause the post below to slides to the right, I tried removing the margin of `image-tile.outer-title.text-center` and it worked pretty well. **[Screenshot](https://ibb.co/m2w1h6)**

[2017-12-13 04:11] anshumanv commented on #243
Looks fine to me, please send a PR and see if fixes it, thanks.

[2017-12-13 05:06] rupav commented on #273
@akshatnitd @vaibhavsingh97 claiming installation steps in windows.

[2017-12-13 06:35] supunTE commented on #273
Please add this for Windows, I need help for it.

[2017-12-13 06:35] Ploypiti opened #288 "Student's profile Facebook link use github username data instead"
### Expected results
Correct facebook username
### Actual results
Facebook icon that should link to facebook link use this code `<a href="https://facebook.com/{{student.github}}" class="icon-a">` which should be `student.facebook`, this cause linking to wrong profile or 404 error 😱
### Steps to reproduce the issue
Change to `student.facebook`
## Would you like to work on this
Yes

[2017-12-13 06:54] rupav commented on #273
@akshatnitd @anshumanv Please review the PR.

[2017-12-13 07:18] ParthS007 commented on #288
Closing with reference to #289

[2017-12-13 07:18] #288 closed, assigned to nobody

[2017-12-13 09:41] nzec commented on #243
@Ploypiti Looks cool!

[2017-12-13 11:04] harshit98 commented on #84
@hpdang I'm opening this issue again. This issue is a GCI task. : )

[2017-12-13 17:15] anshumanv commented on #273
Reopening since instructions only for windows are present.

[2017-12-13 19:45] FUTC-Coding commented on #273
Claiming installation steps for linux

[2017-12-13 20:36] mariobehling opened #302 "Create a separate page with a map showing all FOSSASIA GitHub members"
GitHub has a number of APIs. Research how members of an organization can be displayed on a map and implement it on a separate page.

[2017-12-13 21:23] FUTC-Coding commented on #273
#303

[2017-12-14 08:14] ChenNuode opened #305 "Change the navbar so that it is set to be transparent at first and change to white if scrolldown detected."
Hi this is for a GCI task, Im trying to make the nav bar of the FOSSASIA GCI site consistent with the https://fossasia.org/ site

Can i choose to make this improvement for the site?

[2017-12-14 08:18] ChenNuode commented on #305
Also can i change the navbar such that it shows up in the mentors section?

<img width="500" alt="screen shot 2017-12-14 at 4 17 54 pm" src="https://user-images.githubusercontent.com/23238289/33982142-6151875c-e0ea-11e7-8fa4-627c0768b5df.png">

[2017-12-14 08:40] ParthS007 opened #306 "Show Profile links only by hovering on the photo"
### Expected results
Profile links will be visible only when one hovers on a Mentor/student/contributor's photo.
Please go through [https://codeheat.org/](https://codeheat.org/)

### Actual results
At present, Profile links are always visible

### Screenshot of the issue
**Actual**
![image](https://user-images.githubusercontent.com/24358501/33982717-8858c152-e0d7-11e7-9924-9ce395258c3b.png)
**Expe

[2017-12-14 16:52] supunTE commented on #83
I'll trying to add a new translation. Can I know the Do you want new translate page separately or not?

[2017-12-14 17:07] dumprop commented on #83
As you wish and what is possible to me :)

[2017-12-15 06:33] supunTE opened #311 "Delete unwanted spaces on blog section"
### Expected results
Remove spaces between images
### Actual results
No spaces
![screenshot from 2017-12-15 12-00-20](https://user-images.githubusercontent.com/33794760/34029650-86c140dc-e161-11e7-883a-5eb81a712fe4.png)

## Would you like to work on this
Yes

[2017-12-15 12:12] nzec commented on #311
#315 gets ya!

[2017-12-15 13:29] #311 closed, assigned to nobody

[2017-12-15 13:30] #243 closed, assigned to nobody

[2017-12-15 16:37] NaviRocker opened #316 "Remove Unused and Unwanted Sections from the Website"
Remove Unwanted Sections from the Website.

[2017-12-15 18:24] 0x48piraj commented on #316
**Vague description** :-1:
Can you describe it specifically ? @naveentherocker

[2017-12-15 20:09] gabru-md opened #318 "Broken Image for Naveen Ranjan"
### Expected results
Should show the image for Naveen Ranjan
### Actual results
Broken Image
### Steps to reproduce the issue

## Would you like to work on this
No, Leaving it for GCI students.

## How to solve ? ( just to help  )
All you need to do is replace the image name in the `students.yml` file.
The image is actually named : `naveen.jpg` and can be found [here](https://github.com/Jeewal/gci

[2017-12-15 20:38] gabru-md commented on #318
![nb](https://user-images.githubusercontent.com/25414121/34059696-0a38701c-e206-11e7-8f7e-dc44695073a6.JPG)

Image for reference to the bug!

[2017-12-15 20:54] supunTE commented on #316
What are those sections?

[2017-12-15 21:01] supunTE opened #320 "One photo for two."
### Expected results
Change the photo
![issue](https://user-images.githubusercontent.com/33794760/34060265-e4bbe1a4-e208-11e7-893d-7c10edac95f1.JPG)
### Actual results
There are two students who have same photo.
### Steps to reproduce the issue
Remove broken one.

Samayak Jain or Hasalu Botheju must change his photo!

[2017-12-16 05:43] abishekvashok commented on #302
Members list can be got using Github API, ref: https://developer.github.com/v3/orgs/members/#members-list
Then for each user using the user api endpoint, ref: https://developer.github.com/v3/users/ the location can be extracted, and then be displayed on an Open Street Map.

[2017-12-16 07:10] abishekvashok opened #323 "Use OpenStreetMaps instead of Google Maps"
### Expected results
We should use open source technologies like open street maps.

### Actual results
We are using closed source google maps which has a request limit.

### Steps to reproduce the issue
See the community connect section in the website

## Would you like to work on this
Sure, why not.

[2017-12-16 07:31] supunTE opened #324 "Add more videos on videos section"
### Expected results
Add more videos on videos section
### Actual results
Only one video there now.
### Steps to reproduce the issue
Add videos that creating by students for their tasks.

[2017-12-16 07:46] supunTE opened #325 "Make codes simple and short."
### Expected results
Make codes simple and short.
### Actual results
Code files are too longer now.
### Steps to reproduce the issue
Use simple codes.
Make sections separately from "index.html".
Remove unwanted tags.

(Ex:- For <-example-img src="...... jpg"></img>
      Just use <-example-img src="......jpg"/>

For <-example-i class="ti-twitter-alt"></i>
      Just use <-example-i class="ti-twitt

[2017-12-16 08:00] #316 closed, assigned to nobody

[2017-12-16 08:15] shikhar-scs commented on #306
On it.

[2017-12-16 09:40] nzec commented on #213
This is fixed. Please close this.

[2017-12-16 09:57] shikhar-scs commented on #306
I have found the exact places to make the respective changes and am also about to achieve them. However, this project being in ruby is proving to be a bit of a hindrance. I have since the beginning worked in NodeJS. Thus, after the changes i am unable to actually view them .

Basically setting up an executable gem is the main problem right now. Any help apart from the readme of linux installation

[2017-12-16 09:59] #213 closed, assigned to nobody

[2017-12-16 09:59] #318 closed, assigned to nobody

[2017-12-16 10:47] duttaditya18 commented on #212
I am starting to work on this.

[2017-12-16 11:02] duttaditya18 commented on #249
On it!

[2017-12-16 11:02] duttaditya18 commented on #254
On it!

[2017-12-16 11:03] nzec commented on #240
Yes please close this.

[2017-12-16 11:55] shikhar-scs commented on #306
@anshumanv
I have made the required changes and this is how they reflect.

The index page:
![The main index page](https://user-images.githubusercontent.com/25258877/34070113-91a3d3a0-e285-11e7-98b7-f5ed30e4f4db.png)

The load more directed mentors page
![The load more mentors page](https://user-images.githubusercontent.com/25258877/34070138-e59c1346-e285-11e7-9a3f-91d7a9abc1e6.png)

If these chang

[2017-12-16 12:10] abishekvashok commented on #306
Can you make the black tint full width of the pic. Like how it is done in other fossasia sites?

[2017-12-16 12:17] shikhar-scs commented on #306
@abishekvashok
I tried that too but personally I think this one looks better. Ok I'll put that one.

[2017-12-16 12:28] #249 closed, assigned to nobody

[2017-12-16 12:28] #254 closed, assigned to nobody

[2017-12-16 12:54] shikhar-scs commented on #306
Does it look better now?

index page
![new1](https://user-images.githubusercontent.com/25258877/34070539-33b37b3e-e28e-11e7-9a20-c4baab6abde9.png)

more page
![new2](https://user-images.githubusercontent.com/25258877/34070545-41146b80-e28e-11e7-9b9b-ed1a905f225f.png)

And yes I've also set a transition time so that the change looks smooth

[2017-12-16 12:57] abishekvashok commented on #306
@shikhar-scs please make a  PR! It looks good.

[2017-12-16 13:02] ParthS007 commented on #306
@shikhar-scs  very good 🎉  second one looks good , please change GitHub icon it not looks good

[2017-12-16 13:27] shikhar-scs commented on #306
OK I'll do that too . Any other changes to be made?
Thanku for such reviews btw

[2017-12-16 13:41] shikhar-scs commented on #306
@ParthS007  Sadly, themify icons provides only this github icon .

[2017-12-16 15:17] #323 closed, assigned to nobody

[2017-12-16 15:36] ParthS007 commented on #324
Go ahead @STEdirisuriya 👍

[2017-12-16 15:40] ParthS007 opened #332 "Add Geolocation of GCI mentors in map"
### Expected results
Location of all GCI mentors should be present in maps which are already added to Website.

### Actual results
Presently, Few mentor's location is updated in maps.

[2017-12-16 15:41] ParthS007 commented on #332
@abishekvashok Have a look at this 👍

[2017-12-16 15:46] ParthS007 commented on #211
@samyakbvs Please close this Issue , if it's resolved 👍

[2017-12-16 15:49] ParthS007 commented on #212
@0x48piraj Update your status. Thanks 👍

[2017-12-16 15:50] ParthS007 commented on #233
@kol4k Please explain in detail what you want to implement. Thanks 👍

[2017-12-16 15:51] #240 closed, assigned to nobody

[2017-12-16 16:05] supunTE commented on #83
I am working on this

[2017-12-16 16:07] dumprop commented on #83
On Russian language?

[2017-12-16 16:09] supunTE commented on #83
no, My language. I think I can add new language for this. Didn't?

[2017-12-16 19:18] supunTE opened #333 "Add a pop-up window"
### Expected results
Add a pop-up when starting the web site for welcome visitors.

### Steps to reproduce the issue
Add code for make a pop-up

## Would you like to work on this
Yes, I'm working on this.

[2017-12-16 19:46] #306 closed, assigned to nobody

[2017-12-16 20:05] supunTE opened #334 "Add a link."
### Expected results
Add a link of installation on linux to  README.md

### Actual results
Not any links now.

### Steps to reproduce the issue
Add the link like code that use for add installation on windows

## Would you like to work on this
Yes

[2017-12-16 20:12] supunTE commented on #334
I added. See it on - " https://github.com/fossasia/gci17.fossasia.org/pull/335 "

[2017-12-16 20:14] #334 closed, assigned to nobody

[2017-12-16 22:37] harshit98 opened #336 "Add Gemfile.lock"
### Expected results

Addition of Gemfile.lock file will rectify the errors which are coming on executing `jekyll serve`.

[2017-12-16 22:38] supunTE commented on #332
From where we can find there locations?

[2017-12-16 22:56] #336 closed, assigned to nobody

[2017-12-16 23:20] 0x48piraj commented on #333
I think, the welcome page is good enough.
It will probably, change the order of site, will degrade the quality.

[2017-12-16 23:25] 0x48piraj commented on #302
Many don't put their locations, and strings instead of them. eg. (127.0.0.1, Planet Earth, list goes on ...)
We'll have to handle that! :+1:
Ping : @mariobehling @abishekvashok

[2017-12-16 23:28] 0x48piraj commented on #233
@kol4k Help us!

[2017-12-17 02:51] shikhar-scs commented on #332
@ParthS007 Actually in the mentors.yml file only 3 mentors have mentioned their lat and lng and all 3 of them already reflect on the map. Similarly, in the students.yml file only 8 students have done the same and they too, do reflect on the map. Thus, the information part is in complete, not the mapping.

P.S. By map here i mean the community connect map.

[2017-12-17 04:58] abishekvashok commented on #332
@STEdirisuriya @shikhar-scs try to ping them but don't try to disturb them :)

[2017-12-17 05:05] abishekvashok commented on #333
@STEdirisuriya a popup window on start can lower your page's quality, better not to do so :)

[2017-12-17 05:06] shikhar-scs commented on #332
@abishekvashok
In total there are 23 mentors and 31 students listed and we need info on 20 mentors and 23 students. So is there any way where we can broadcast a common message to all of them to update their respective infos (maybe slack or any IRC channel). Because contacting everyone individually might take up a lot of time.

[2017-12-17 05:09] abishekvashok commented on #332
@shikhar-cs contacting individually would only work, broadcasting on gitter might work but no guarentee. You can try your own method.

[2017-12-17 05:10] shikhar-scs commented on #332
@abishekvashok Can you send me the link for joining gitter plz.

[2017-12-17 05:11] abishekvashok commented on #332
@shikhar-scs gitter.im/fossasia/fossasia

[2017-12-17 05:14] nzec commented on #211
Yes. Please close this!

[2017-12-17 05:15] nzec commented on #212
@ParthS007 As 0x48piraj is taking too long. I am starting to work on this!

[2017-12-17 05:21] 0x48piraj commented on #212
I am working on this @duttaditya18 , have made one high-res image, working on the second.
Also, the site got updated, and this template got deleted. _(Guys should see all the issues, before hooking any issue.)_

[2017-12-17 05:32] nzec commented on #273
Claiming for MacOS!

[2017-12-17 06:01] Ploypiti commented on #332
@ParthS007 Can we just get their location from Github profile and use some tool like [this one](https://www.latlong.net/) to get the lat & long and add the location without asking them?

[2017-12-17 06:28] abishekvashok commented on #332
@Ploypiti sure, but remember some have locations like 127.0.0.1 {random strings}

[2017-12-17 06:31] shikhar-scs commented on #332
@Ploypiti Many have just mentioned their country on their github profile, a few links are broken (404) and at most a state is mentioned. Wouldnt that be too vague to add ?
If not then we can do so I guess.

[2017-12-17 07:39] akshatnitd commented on #332
It is not necessary to add very exact information like street address. The main goal of the geolocation project is to get a nice overview of locations of participants city and country-wise.

[2017-12-17 08:43] #332 closed, assigned to nobody

[2017-12-17 08:52] YashKumarVerma commented on #325
can you please elaborate the topic ?

[2017-12-17 10:14] supunTE commented on #83
We have to use jekyll it is better better way for this
Read this this will be better way - https://www.sylvaindurand.org/making-jekyll-multilingual/

[2017-12-17 10:36] 0x48piraj commented on #83
@kubami9 @h0n3yc4k3
Read the https://gitter.im/fossasia/fossasia channel. I @Ploypiti & @STEdirisuriya were discussing about this.  :+1:

[2017-12-17 10:38] nzec commented on #273
@anshumanv @vaibhavsingh97 Check out #341

[2017-12-17 11:45] #273 closed, assigned to nobody

[2017-12-17 16:38] supunTE commented on #333
Why?

[2017-12-17 19:45] YashKumarVerma commented on #83
so have we got any solid idea or plan ?

[2017-12-17 19:49] YashKumarVerma opened #344 "Website Load Time : Too Many requests on load ~330"
### Expected results
The website load time must be reduced, images should load when in viewport

### Actual results
Images load with main page content.

### Steps to reproduce the issue
Implement "lazy load" to load images when needed.

## Would you like to work on this
Yes !

[2017-12-17 20:11] kubami9 commented on #83
After reading the discussion, I think that Jekyll method proposed by @STEdirisuriya might be the best one. After all we have to create separate files either way. Unless we decide to use GT or something similar but honestly, I think it won't be good quality translation and good decision, especially if there are students from all around the globe who could take a part in translating process.
I also

[2017-12-18 02:16] Ploypiti commented on #83
We can just list down the pros & cons and make a reasonable decision if you'd like.

[2017-12-18 13:28] abishekvashok commented on #344
@YashKumarVerma pls use Google insights which provides a better comparison.

[2017-12-18 14:00] dilpreetsio opened #352 "Travis: Resize all images to 240 x 240"
### Expected results
All images should be 240 x 240

### Current
Travis is failing due to an image larger than 240 x 240. Reference PR https://github.com/fossasia/gci17.fossasia.org/pull/351

[2017-12-18 14:25] YashKumarVerma commented on #344
[![Screenshot_2017_12_18_19_51_45](https://thumb.ibb.co/f1mw5R/Screenshot_2017_12_18_19_51_45.png)](https://ibb.co/f1mw5R) [![Screenshot_2017_12_18_19_49_51](https://thumb.ibb.co/fUEG5R/Screenshot_2017_12_18_19_49_51.png)](https://ibb.co/fUEG5R)

[2017-12-18 16:53] NaviRocker commented on #352
I am working on this

[2017-12-18 17:05] #352 closed, assigned to nobody

[2017-12-18 17:24] #344 closed, assigned to nobody

[2017-12-18 21:42] 0x48piraj commented on #233
@ParthS007 I think we should close this, as @kol4k is not responding.

[2017-12-18 21:54] 0x48piraj commented on #320
@STEdirisuriya Have a look :+1:

https://github.com/fossasia/gci17.fossasia.org/pull/358

[2017-12-19 03:46] #320 closed, assigned to nobody

[2017-12-19 09:12] supunTE opened #361 "Big issue with social media section. Please see this; this issue is updated."
### Expected results
Make FB page full showing.

### Actual results
In social media section
![pro](https://user-images.githubusercontent.com/33794760/34148936-5ebe49f2-e4c9-11e7-9d9f-3fb848a27461.png)
See Twitter and G+ pages are showing properly, But FB page only showing a part of it, there is a
half-cut.
![pro2](https://user-images.githubusercontent.com/33794760/34149191-4b10733e-e4ca-11e7-8903-

[2017-12-19 09:42] shikhar-scs commented on #361
I am working on this and will soon post a PR

[2017-12-19 09:48] shikhar-scs commented on #361
Also note that these sections aren't responsive. Ill work on that too.

![ss](https://user-images.githubusercontent.com/25258877/34150929-d51f8a10-e4cf-11e7-8580-2f392d2d6561.png)

[2017-12-19 10:08] supunTE commented on #361
@shikhar-scs OK. Sure work on this

[2017-12-19 10:11] shikhar-scs commented on #361
The problem of the issue has been fixed. Now I'm working on responsiveness.

[2017-12-19 10:12] m1guelpf commented on #84
Also related to #221

[2017-12-19 10:15] supunTE opened #362 "One of students projects' link is broken!"
### Expected results
Make it correct.

### Actual results
One of student projects' link is broken in Students Projects Section.
![st](https://user-images.githubusercontent.com/33794760/34151978-09e55ccc-e4d3-11e7-96b1-3dda25efe698.png)
Doon International School project by @YashKumarVerma is not working.
See below picture that came after I clicked that project.
![st2](https://user-images.githubuser

[2017-12-19 10:42] #333 closed, assigned to nobody

[2017-12-19 10:42] #325 closed, assigned to nobody

[2017-12-19 11:31] supunTE opened #363 "Fix errors and bugs! And make improvements."
### Expected results
- Improved looks
- Fixed error
- Improved sections
- Nice looked site with more animations

### Steps to reproduce the issue
- [ ] Add a welcome box. [like this.](https://codepen.io/MarcMalignan/pen/xByvJ)
- [ ] Remove unwanted tags.
(Ex:- For `<img src="......jpg"></img>`  Just use `<-example-img src="......jpg"/>`
For `<i class="ti-twitter-alt"></i>` Just use `<i class="ti-t

[2017-12-19 12:01] nzec commented on #363
I say no for the welcome box.

[2017-12-19 12:46] NaviRocker opened #365 "Github Repos in Website"
It would be great if Fossasia's Repositories are on the Website. So that If a Visitor likes it, He/She can start from there itself

[2017-12-19 13:27] supunTE commented on #363
That's improve attraction of visitors.

[2017-12-19 13:27] abishekvashok commented on #363
Please don't add it, it will lower the page ranks.

[2017-12-19 13:32] supunTE commented on #363
OK

[2017-12-19 18:06] 0x48piraj commented on #365
I personally think, there's no need of that @naveentherocker
Preferably, we should use the button "**Explore the Website**" to link it to the **FOSSASIA Organisation** instead of linking it to the mentors section. That will cause the visitor to elegantly visit the FOSSASIA Repositories :wink:

[2017-12-19 18:10] 0x48piraj commented on #362
Ping @YashKumarVerma :+1:

[2017-12-19 18:19] NaviRocker commented on #365
Check the Link @0x48piraj https://naveentherocker.github.io/gci17.fossasia.org/repos.html
This is what I have made for now. Have a look at it. It is not linked to the Mentor's Section.

[2017-12-19 18:25] 0x48piraj commented on #365
@naveentherocker
I think you just had linked it to https://github.com/fossasia.
But, an inline page is also good, or actually great :+1:

I think you should **link it to the following button**, as it is going to mentors page which is not that cool.
![image](https://user-images.githubusercontent.com/5800726/34172432-0cd78e1a-e518-11e7-85c5-976ec4b2466d.png)

[2017-12-19 18:28] NaviRocker commented on #365
Well If I linked to the button mentioned above, Is it fine then? @0x48piraj

[2017-12-19 18:30] 0x48piraj commented on #363
@abishekvashok is absolutely right, also the link issue will affect in **SEO Ranking**

[2017-12-19 18:33] NaviRocker commented on #365
Changes committed @0x48piraj .
Preview Link - https://naveentherocker.github.io/gci17.fossasia.org

[2017-12-19 18:36] 0x48piraj commented on #365
That's what I wanted :tada:

[2017-12-19 18:37] NaviRocker commented on #365
Splendid! So you can review it now #359

[2017-12-19 18:46] 0x48piraj commented on #269
@Ploypiti Have a look at it.
https://github.com/fossasia/gci17.fossasia.org/pull/368

[2017-12-19 18:50] m1guelpf commented on #221
It seems like the Danger app is having some problems when processing the PR, gonna revert to the good ol' Travis way.

[2017-12-19 21:01] akshatnitd opened #375 "The Community Connect Map isn't shown"
### Expected results

The map is shown

### Steps to reproduce the issue

Go to the website and check Community Connect section

[2017-12-20 09:14] nzec commented on #375
#378 gets ya!

[2017-12-20 09:36] #375 closed, assigned to nobody

[2017-12-20 09:37] nzec commented on #363
@STEdirisuriya 10th point was fixed by #378

[2017-12-20 11:37] #212 closed, assigned to nobody

[2017-12-20 11:43] nzec commented on #269
1st Point was fixed.

[2017-12-20 11:51] nzec commented on #361
Fixed now. Please close this.

[2017-12-20 11:52] nzec commented on #275
I don't think this is required. Please close this.

[2017-12-20 12:04] supunTE commented on #363
I am working 12th point. Add animations to the blogs section. I want to work on it alone.

[2017-12-20 12:15] #365 closed, assigned to nobody

[2017-12-20 12:31] shikhar-scs commented on #361
@STEdirisuriya close this now please

[2017-12-20 13:28] kol4k commented on #233
Sorry for a long response, can see in previous GCI web.

[2017-12-20 13:28] #233 closed, assigned to nobody

[2017-12-20 15:23] samyakbvs opened #381 "The are no images"
### Expected results
Images not appearing
### Actual results
Images should appear

## Would you like to work on this
yes

[2017-12-20 15:24] samyakbvs commented on #381
![screen shot 2017-12-20 at 8 51 32 pm](https://user-images.githubusercontent.com/34275800/34214243-e7e6fd4c-e5c7-11e7-8e15-753a78de27ad.png)

[2017-12-20 15:25] the-codingninja commented on #381
Images are there you should check again

[2017-12-20 15:28] samyakbvs commented on #381
No I checked again

[2017-12-20 15:28] samyakbvs commented on #381
Also the images for mentors are missing

[2017-12-20 15:28] samyakbvs commented on #381
claiming tp fix that too

[2017-12-20 15:35] samyakbvs commented on #381
I am so sorry everyone they are there on my link without editing the code so they must be on the original site too. there must be some problem in my system

[2017-12-20 15:35] #381 closed, assigned to nobody

[2017-12-20 19:28] supunTE commented on #361
No. it is yet. see -
![issue yet](https://user-images.githubusercontent.com/33794760/34224755-f8768584-e5e9-11e7-936c-7abad1d15aa6.png)
![issue yet 2](https://user-images.githubusercontent.com/33794760/34224756-f8e91220-e5e9-11e7-9226-8016fd0353e3.png)
Now issue had improved.

[2017-12-21 07:29] samyakbvs opened #388 "The google+ page is added two times"
### Expected results
Delete one
### Actual results
The google+ page is added two times

## Would you like to work on this
yes

[2017-12-21 07:44] duttaditya18 commented on #363
Okay,.

[2017-12-21 08:06] samyakbvs opened #391 "The github icon is unaligned"
### Expected results
Github icon should be in line
### Actual results
Github icon is unaligned
## Would you like to work on this
Yes, working on it!

[2017-12-21 08:51] shikhar-scs commented on #388
I fail to see rhis issue. Could you elaborate a bit more on this please.

[2017-12-21 12:01] #362 closed, assigned to nobody

[2017-12-21 12:01] #391 closed, assigned to nobody

[2017-12-21 13:12] 0x48piraj opened #397 "Add multiple new animations to `repos.html`"
### Expected results

**Multiple new animations to `repos.html`**

### Actual results

**No animations yet.**

## Would you like to work on this
Yes :fire:

[2017-12-21 13:12] #397 closed, assigned to nobody

[2017-12-21 13:55] 0x48piraj opened #398 "Fix the Misleading Project Link"
### Expected results

It should go to a **Project link.**

### Actual results
![image](https://user-images.githubusercontent.com/5800726/34258465-1470d9ac-e684-11e7-8e0e-426894e904eb.png)

Project link is going to a **Github Profile** named https://github.com/yashkumarverma

### Steps to reproduce the issue
Just click on the Project icon.
![image](https://user-images.githubusercontent.com/5800726/

[2017-12-21 14:01] 0x48piraj commented on #398
Thanks @poush

[2017-12-21 19:31] 0x48piraj commented on #398
The Issue got merged. Closing :100:

[2017-12-21 19:31] #398 closed, assigned to 0x48piraj

[2017-12-21 19:35] 0x48piraj opened #409 "[BUG] repos.html is showing same repositories all the time."
### Expected results

**_http://gci17.fossasia.org/repos.html_** is showing same repositories all the time.

### Actual results
It should show different project links, in an effective manner.

### Steps to reproduce the issue
Open http://gci17.fossasia.org/repos.html and refresh the browser. :smile:

## Would you like to work on this

**Working ...**  :fire:

[2017-12-21 20:47] #409 closed, assigned to nobody

[2017-12-21 20:50] 0x48piraj commented on #409
Closing this issue as it was merged. :sparkles:

[2017-12-21 20:51] 0x48piraj commented on #409
Oops. Already closed by @harshit98 :100:

[2017-12-21 21:34] 0x48piraj opened #411 "Re-naming repos.html and adding some animations."
### Expected results
The page should look a bit professional, so `repositories.html` will look good.
Also, Animations are a bit sloth'y.

### Actual results
* Cool animations.
* Rename and Reflect `repositories.html`

## Would you like to work on this
**Yes.**

[2017-12-22 02:00] #411 closed, assigned to nobody

[2017-12-22 07:05] supunTE commented on #388
i say it on https://github.com/fossasia/gci17.fossasia.org/issues/361

[2017-12-22 07:34] supunTE opened #415 "Align students section."
### Expected results
Make a aligned students page with same size pictures.

### Actual results
Not aligned, Not same sized images.
![issnew](https://user-images.githubusercontent.com/33794760/34289323-fe134f48-e717-11e7-9e44-ec5581b88a65.png)
![issnew2](https://user-images.githubusercontent.com/33794760/34289324-ffabb570-e717-11e7-9867-360a8a9acf52.png)
![not](https://user-images.githubusercontent

[2017-12-22 09:58] abishekvashok commented on #415
@STEdirisuriya be sure to do so

[2017-12-22 13:13] samyakbvs opened #417 "The github icon is unaligned"
### Expected results
The github icon should be aligned
### Actual results
the github icon is unaligned

## Would you like to work on this
Yes working on it

for those who are confused the icon is at the end of the page

[2017-12-22 16:04] nzec opened #420 "Image of Sayan Chowdhury not showing up."
### Expected results
It should show up.
### Actual results
It is not.
### Steps to reproduce the issue
Fix a typo.
### Would you like to work on this
Yes. On it!

[2017-12-22 16:49] supunTE commented on #269
Please see this - https://github.com/fossasia/gci17.fossasia.org/issues/363 . I think some of issues you mention there are resolved in my issue.

[2017-12-22 17:18] supunTE opened #422 "Add a back to "top button""
### Expected results
Add a "back to top button" (floating one)

## Would you like to work on this
I am working.

[2017-12-22 17:44] supunTE commented on #361
now it's OK

[2017-12-22 17:45] #361 closed, assigned to nobody

[2017-12-22 18:34] 0x48piraj commented on #422
Already present :+1: @STEdirisuriya

[2017-12-22 18:57] #420 closed, assigned to nobody

[2017-12-22 19:11] 0x48piraj opened #424 "Fix Render bug"
### Expected results
Website without `---`

### Actual results
![](https://user-images.githubusercontent.com/5800726/34309046-081fcaa8-e776-11e7-82ea-275312b36dc6.png)
### Steps to reproduce the issue

Just browser to our **gci17** website.

## Would you like to work on this
Yep.

#### Rendered page when simply deleting :

![image](https://user-images.githubusercontent.com/5800726/34309772-d02cbf5

[2017-12-23 00:27] supunTE opened #428 "Fix the error while local hosting! [Mentors please see!]"
# Mentors, please read this.....

### Expected results
It must possible to make a local host.

### Actual results
When I am trying to `bundle install` it get,
[code]

So after I get this i tried to `sudo gem install nokogiri -v '1.8.1'`
[code]

Failed to install
### Steps to reproduce the issue
I think there is a problem with gem.lock file; it's work earlier before the PR that tried to make local

[2017-12-23 00:51] supunTE commented on #422
No It's on bottom of page; I said about a not like that one, When we're scrolling we can see a back to Top button. @0x48piraj

[2017-12-23 05:26] yashLadha opened #431 "Changes in the Pull request template"
### Expected results

There is a need for the deployment link in a PR. Students have to explicitly submit a deployment link. Why make it in the PR Template so that students do not forget.

### Actual results

There should be a field for deployment link also.

## Would you like to work on this

Yes

[2017-12-23 05:29] yashLadha commented on #431
Already present closing the issue.

[2017-12-23 05:29] #431 closed, assigned to nobody

[2017-12-23 08:39] 0x48piraj opened #433 "Adding our website Issues Page using Github API"
### Expected results

Adding our website Issues Page using Github API, as in our previous **GCI** Websites.

### Actual results

No such page exists for now.

## Would you like to work on this

@0x48piraj and @duttaditya18 are working on this. :heart:

[2017-12-23 08:55] supunTE commented on #83
We can done this part by part

[2017-12-23 08:57] supunTE opened #435 "https://github.com/fossasia/gci17.fossasia.org/issues/83"
### Expected results

### Actual results

### Steps to reproduce the issue

## Would you like to work on this

[2017-12-23 08:58] #435 closed, assigned to nobody

[2017-12-23 10:35] #424 closed, assigned to nobody

[2017-12-23 10:37] ba11b0y commented on #424
Closed via #438

[2017-12-23 10:56] ba11b0y commented on #417
Closed via #418

[2017-12-23 10:56] #417 closed, assigned to nobody

[2017-12-23 11:24] abishekvashok commented on #211
Updates?

[2017-12-23 19:15] supunTE opened #445 "Adding languages step by step"
### Expected results
**Get together all! Show power of unity in all world including Asia. Make easily connected to all students and mentors...**
Adding languages around the world to site.
This issue is connected with this issue - https://github.com/fossasia/gci17.fossasia.org/issues/83

### Steps to reproduce the issue
- [ ] Translate installations files into more than 15 languages.
      - Sinhal

[2017-12-23 19:29] supunTE commented on #83
See this issue
https://github.com/fossasia/gci17.fossasia.org/issues/445

[2017-12-23 20:34] #433 closed, assigned to nobody

[2017-12-23 22:53] 0x48piraj opened #448 "Completely enhance the `Picture section`"
### Expected results

**A cool gallery, to show the images.** :fire:

### Actual results

**It's totally untouched, not well structured !**
![image](https://user-images.githubusercontent.com/5800726/34323137-6cc131f4-e861-11e7-8e5b-41f06153742d.png)

![image](https://user-images.githubusercontent.com/5800726/34323164-20a9b7d6-e862-11e7-9b42-4f5fbe0a8767.png)

### Steps to reproduce the issue
Visit

[2017-12-24 02:20] NaviRocker opened #450 "Enhancement is required in Students Project Section"
For every project in the `_data/student_projects.yml` , The Github Link `https://github.com` is getting repeated.

[2017-12-24 06:17] #448 closed, assigned to nobody

[2017-12-24 06:49] sandeepyadav097 commented on #422
I would like to try it out @STEdirisuriya

[2017-12-24 07:01] 0x48piraj commented on #422
@STEdirisuriya

You meant a floating button ?

[2017-12-24 07:15] gabru-md commented on #445
What kind of help do you need her  @STEdirisuriya ?
You were asking for it on Gitter

[2017-12-24 08:36] samyakbvs opened #455 "Projects"
### Expected results
The name of the students should be mentioned
### Actual results
The name of the students aren't be mentioned
### Steps to reproduce the issue
Add there names
## Would you like to work on this
Yes!

[2017-12-24 09:34] supunTE commented on #445
We need help for translate page to other languages. I need help for that. I said it on this issue see. @gabru-md I need others contributions. They can translate files and make PRs and connect for this issue

[2017-12-24 09:43] 0x48piraj commented on #455
@duttaditya18 Have you took permission from @samyakbvs to work on this ?

[2017-12-24 09:45] sandeepyadav097 commented on #269
Added a popover for How can I contribute point number 6.
@Ploypiti have a look at #456

[2017-12-24 10:20] #450 closed, assigned to nobody

[2017-12-24 10:52] nzec commented on #269
@ParthS007 @Ploypiti This was not wholly fixed. Please reopen this.

[2017-12-24 11:00] ParthS007 commented on #269
@duttaditya18 please don't write `fixes#issueno.` until the issue is completely fixed otherwise it will be closed automatically.

[2017-12-24 11:08] duttaditya18 commented on #422
@sandeepyadav097 Can I work on this?

[2017-12-24 12:53] sandeepyadav097 commented on #36
@anshumanv the link you provided has all the mentors?
I would like to add some

[2017-12-24 12:56] ParthS007 commented on #36
@sandeepyadav097  If you want to add mentor, you can add us to [team ](https://fossasia.org/team) section here in Developers section 👍

[2017-12-24 13:12] saarthakchats opened #462 "Bugged links and irrelevant content"
### Expected results
Working links with relevant content
### Actual results
Bugged links and content from template

## Would you like to work on this
Yeah sure!

[2017-12-24 13:14] saarthakchats commented on #462
PR #461

[2017-12-24 13:37] #462 closed, assigned to nobody

[2017-12-24 15:47] YashKumarVerma opened #464 "Search feature missing from activities.html"
### Expected results
- feature to search issues

### Actual results
- all open issues seen

### Steps to reproduce the issue
-add a search feature

## Would you like to work on this
- woring 🔥

[2017-12-24 15:54] saarthakchats opened #465 "Dead-end links and blank background in a section"
### Expected results
Working links
### Actual results
Dead-end links

### Would you like to work on this
Yes

[2017-12-24 17:00] sandeepyadav097 commented on #269
Added a popover for How can I contribute point number 6.
@Ploypiti have a look at #456

[2017-12-24 17:41] yashk0thari opened #469 "Mentors not added to mentor section..."
### Expected results
Add them (one mentor for this issue)

### Actual results
not added mentors

### Steps to reproduce the issue
go to fossaisa's gci website
go to mentor section (not added mentors)

## Would you like to work on this
YES !!

[2017-12-24 18:02] #465 closed, assigned to nobody

[2017-12-24 18:45] yashNadun commented on #428
Read the document [here](http://www.nokogiri.org/tutorials/installing_nokogiri.html) posted by Nokogiri.
It will solve your problem.

[2017-12-24 18:50] nadunys commented on #428
Read the doc posted by Nokogiri about installing Nokogiri [here](http://www.nokogiri.org/tutorials/installing_nokogiri.html)
you have to install Nokogiri with liblzma-dev
It will solve your problem.

[2017-12-24 20:14] supunTE commented on #428
It's OK now. Thank you!

[2017-12-24 20:14] #428 closed, assigned to nobody

[2017-12-24 20:15] supunTE commented on #469
What for this issue?

[2017-12-24 20:17] supunTE commented on #422
I am working on this @sandeepyadav097

[2017-12-24 22:53] saarthakchats opened #474 "Dead end button. And add a button"

[2017-12-25 05:04] arjunpandey2003 opened #477 "Improve student project section"
### Expected results

Add some good-looking features to the student project section

### Actual results

Add a CSS or Improve the current file

### Steps to reproduce the issue

 Update Custom.css or add in a animation from animated.css

## Would you like to work on this
YES i am working on this

[2017-12-25 05:50] sandeepyadav097 opened #479 "Removal of Dead link in "Loklak A sister Project" Section"
### Expected results
The changes will redirect to correct link
### Actual results
The redirection of the link is inappropriate.
### Steps to reproduce the issue

## Would you like to work on this

Yupp

[2017-12-25 06:02] nzec opened #481 "Add transition effect on Student Projects as with others."
### Expected results
Transition effect.

### Actual results
No transition effect.

### Would you like to work on this
Made a PR.

[2017-12-25 06:07] the-codingninja commented on #481
Issue should be made before sending a PR please follow best practices.

[2017-12-25 06:09] nzec commented on #481
@ms10398 Ok sorry! Will keep that in mind from next time onward!

[2017-12-25 07:32] sandeepyadav097 commented on #479
Done

[2017-12-25 07:32] #479 closed, assigned to nobody

[2017-12-25 07:32] abishekvashok commented on #479
Which PR@

[2017-12-25 07:33] sandeepyadav097 commented on #479
This one

[2017-12-25 07:47] gabru-md commented on #474
Please have a description of the issue

[2017-12-25 07:52] saarthakchats commented on #474
The button "How can I contribute" leads nowhere. I have fixed that and also added a button to the github repos. @gabru-md

[2017-12-25 08:05] #474 closed, assigned to nobody

[2017-12-25 08:51] saarthakchats opened #483 "An image in the students section is out of size"
### Expected results
all images aligned and in the same size
### Actual results
One image smaller than all others in the students' section
### Steps to reproduce the issue
Resizing the image
## Would you like to work on this
Yes

[2017-12-25 09:08] #483 closed, assigned to nobody

[2017-12-25 09:25] saarthakchats opened #485 "Remove Bugged/Dead-End links"
### Expected results
All working links
### Actual results
Two non-existing links - Vimeo and Dribbble
### Steps to reproduce the issue
Remove them
## Would you like to work on this
Yes

[2017-12-25 09:38] #485 closed, assigned to nobody

[2017-12-25 09:39] #481 closed, assigned to nobody

[2017-12-25 09:45] saarthakchats opened #488 "Piyush Raj is added twice in the students' section"
### Expected results
All students added once
### Actual results
Piyush Raj Added twice
### Steps to reproduce the issue
Remove one of the two
## Would you like to work on this
Yes

[2017-12-25 09:59] #477 closed, assigned to nobody

[2017-12-25 10:47] #488 closed, assigned to nobody

[2017-12-25 11:02] nzec opened #490 "Add the Google Code In logo in header"
### Expected results
A GCI logo in the header along with the link.

### Actual results
No such thing is there.

### Steps to reproduce the issue
Add it.

### Would you like to work on this
Yes.

[2017-12-25 11:59] kubami9 commented on #305
@ChenNuode I think it's great idea! 😃

[2017-12-25 12:10] #490 closed, assigned to nobody

[2017-12-25 17:29] sandeepyadav097 opened #499 "Extend and increase responsiveness of images in the Blogs and video sections"
### Expected results
![image](https://user-images.githubusercontent.com/26329908/34341888-2e383448-e9c7-11e7-8772-b49d711e6067.png)

### Actual results
![Uploading image.png…]()

### Steps to reproduce the issue
Change the responsiveness labels used
## Would you like to work on this

Doing that

[2017-12-25 17:32] sandeepyadav097 commented on #499
Posted a PR #500

[2017-12-25 18:04] samyakbvs opened #505 "Transalation"
### Expected results
The website should be translated into at least 4 other languages
### Actual results
The website hasn't been translated even in one
## Would you like to work on this
Yes! Pls don't work on this issue without my consent

[2017-12-25 18:13] samyakbvs opened #506 "Link to Gci'16 contributors"
### Expected results
Link to Gci'16 contributors should be added
### Actual results
Link to Gci'16 contributors isn't added
## Would you like to work on this
Yes

[2017-12-25 18:33] nzec commented on #455
Close this.

[2017-12-25 19:43] #506 closed, assigned to nobody

[2017-12-25 21:07] kubami9 commented on #505
Hello @samyakbvs! It's really cool that you'd like to help out with translating and actually there is already an issue with this task(s). Check it out #445. Let's do this all together so there won't be any misunderstandings and issues with translation methods. Cheers!

[2017-12-26 04:25] arjunpandey2003 opened #508 "Bug in a section of the home page"
https://user-images.githubusercontent.com/25302509/34346890-b5c8138c-ea22-11e7-8d76-1604e067a059

### Expected results
The bug shouldn't be there

### Actual results
If we hover over this section, it starts blinking

### Steps to reproduce the issue
Remove the transition inline style effect

## Would you like to work on this
Yes i am working on this

[2017-12-26 04:25] NaviRocker opened #509 "Bug in a Students Project Link"
@0x48piraj 's Ember Js Calculator Project's link is invalid.

[2017-12-26 04:31] #508 closed, assigned to nobody

[2017-12-26 04:35] arjunpandey2003 opened #511 "Enhance contributors section."
### Expected results
A dropdown was added with linked to previous years gci contributor pages

### Actual results

### Steps to reproduce the issue
Add a button with same class and styles as others

## Would you like to work on this
Yes i am working on this

[2017-12-26 05:26] 0x48piraj commented on #509
Thanks a lot @naveentherocker for noticing !

[2017-12-26 05:31] NaviRocker commented on #509
No Problem @0x48piraj

[2017-12-26 05:43] sandeepyadav097 opened #513 "Buttons in the section below FOSSASIA in social media not oriented properly for small screens"
### Expected results

The learn more buttons should stay with corresponding projects of the section.

![image](https://user-images.githubusercontent.com/26329908/34347981-6287a63c-ea2d-11e7-8813-e8fcd4dc9c9d.png)

### Actual results
In reality, buttons are not properly placed.

![image](https://user-images.githubusercontent.com/26329908/34347990-7166f068-ea2d-11e7-8e9f-c32e18119b19.png)

### Steps

[2017-12-26 05:53] saarthakchats opened #514 "Contributors Section not on the Navbar"
### Expected results
All sections linked on the navbar
### Actual results
Contributors' section missing
### Steps to reproduce the issue
Add it
## Would you like to work on this
Yes

[2017-12-26 06:56] samyakbvs opened #516 "Add a mentor"
Nikit bhandari is not added
Working on it!!

[2017-12-26 07:00] #509 closed, assigned to nobody

[2017-12-26 08:25] #514 closed, assigned to nobody

[2017-12-26 08:52] samyakbvs opened #518 "Restore the contributors section"
The contributor's section has been damaged it has to be restored the way it was
I am working on it, please don't take up this without my consent

[2017-12-26 10:24] #516 closed, assigned to nobody

[2017-12-26 10:26] Ploypiti commented on #269
Only 1 point remaining so lemme close this..?

[2017-12-26 10:26] #269 closed, assigned to nobody

[2017-12-26 10:27] nzec commented on #269
@Ploypiti Damn! That took time.

[2017-12-26 10:28] nzec commented on #269
@ParthS007 I did not write that.

[2017-12-26 10:42] arjunpandey2003 opened #520 "Add a dropdown to the google code in link on the navbar"
### Expected results
A dropdown which comes as we hover over the link
### Actual results
Currently there is no dropdown
### Steps to reproduce the issue
Update index.html and refer to the code of other drop-downs at index.html
## Would you like to work on this
Yes I am working on this

[2017-12-26 14:04] yashk0thari opened #523 "Added Hyperlinks..."
### Expected results
the stats (eg: 300+ Tasks, etc) should be hyperlinked to its corresponding page (eg: github...)

### Actual results
No hyperlink

### Steps to reproduce the issue
go to gci17.fossasia.org
scroll down until you reach the stats (eg: 370+ students)

## Would you like to work on this
YES !!

[2017-12-26 15:19] #518 closed, assigned to nobody

[2017-12-26 15:20] vaibhavsingh97 commented on #505
Fixed in https://github.com/fossasia/gci17.fossasia.org/commit/76d5d7cbe62affc2f2e957832f71677b8e0b076d

[2017-12-26 15:20] #505 closed, assigned to nobody

[2017-12-26 16:03] sandeepyadav097 opened #526 "The Learn More buttons in the app section are not correctly placed"
### Expected results
The Learn more Buttons should be below the corresponding apps.
### Actual results
![image](https://user-images.githubusercontent.com/26329908/34360188-50b883de-ea84-11e7-94a9-b470409a7ff7.png)

### Steps to reproduce the issue
Edit the index to make up the changes
## Would you like to work on this

Yupp

[2017-12-26 16:35] samyakbvs opened #527 "Student project"
The names look very disorganised and their display is not up to Fossasia standards

## Would you like to work on this
Yes! pls don't work on it

[2017-12-26 16:40] sandeepyadav097 commented on #526
#528  Made a PR

[2017-12-26 17:11] #520 closed, assigned to nobody

[2017-12-26 18:09] supunTE commented on #511
What are you mean from dropdown this?

[2017-12-26 18:32] supunTE commented on #445
@kubami9 Thanks for help in this. Continue your job

[2017-12-26 21:03] 0x48piraj opened #531 "Improve PULL REQUEST Template"
### Expected results
Should emphasize the importance of squashing, and also giving the Test-link
### Actual results
Most of the new students fail to provide these.
![image](https://user-images.githubusercontent.com/5800726/34364720-9544ffb2-eaae-11e7-865b-eaf30056b512.png)

## Would you like to work on this
Yep.

[2017-12-27 04:26] #531 closed, assigned to nobody

[2017-12-27 04:39] #526 closed, assigned to nobody

[2017-12-27 04:41] sandeepyadav097 commented on #513
Done

[2017-12-27 04:41] #513 closed, assigned to nobody

[2017-12-27 08:07] #527 closed, assigned to nobody

[2017-12-27 09:02] nzec commented on #511
I think this is fixed.

[2017-12-27 10:25] abishekvashok opened #537 "Flickr gallery not working"
### Expected results

Flick gallery should work

### Actual results

Flickr gallery not working

### Steps to reproduce the issue

Goto https://gci17.fossasia.org
![screenshot_20171227_155353](https://user-images.githubusercontent.com/8947010/34378891-4c88f556-eb1e-11e7-872c-fdd1e5f27e45.png)

## Would you like to work on this

Why not? Working on it :)

[2017-12-27 10:29] abishekvashok commented on #537
That's starage a cache refresh fixed it.

[2017-12-27 10:29] #537 closed, assigned to nobody

[2017-12-27 10:29] supunTE commented on #422
It's OK now.

[2017-12-27 10:29] #422 closed, assigned to nobody

[2017-12-27 10:50] abishekvashok opened #538 "Add vk link of fossasia"
### Expected results

vk link should be present

### Actual results

it's missing

### Steps to reproduce the issue

Go to the website

## Would you like to work on this

Yes, why not? Working on it.

[2017-12-27 12:32] Ploypiti commented on #415
@STEdirisuriya Use Photoshop to resize instead of asking for their photo.

[2017-12-27 13:12] #538 closed, assigned to nobody

[2017-12-27 14:19] #511 closed, assigned to nobody

[2017-12-27 15:06] abishekvashok commented on #84
Researching what else could be done.

[2017-12-27 15:09] abishekvashok commented on #84
Current Paralell architecture could be improved much more. The script is safe enough now to be merged into .travis.yml

[2017-12-27 15:10] abishekvashok commented on #221
Ping @fossasia/website-admins

[2017-12-27 15:54] abishekvashok opened #543 "themify icons blocks page rendering"
### Expected results

No script should block rendering

### Actual results

themify icons are blocking the rendering of the script above the fold

### Steps to reproduce the issue

See the page insights.
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fgci17.fossasia.org%2F&tab=desktop

## Would you like to work on this

yes why not?

[2017-12-27 16:19] yashk0thari opened #544 "Add a link to the official Fossasia Site"
### Expected results
A link to the fossasia Site

### Actual results
No link to fossasia Site

### Steps to reproduce the issue
Go to the gci17.fossasia.org webiste

## Would you like to work on this
YES !!

[2017-12-27 16:24] supunTE opened #547 "Indent all files"
### Expected results
Indent all files to improve quality.

### Actual results
Some files are not indented.

### Steps to reproduce the issue
Use tools like [beautify](https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify) for VS code,  [atom-beautify](https://atom.io/packages/atom-beautify) for atom.

## Would you like to work on this
Open, for claim New comers welcome to this.

[2017-12-27 18:21] arjunpandey2003 opened #548 "Add a link on navbar going to fossasia projects"
### Expected results
Another link was added when scrolled goes fossasia project section
### Actual results
There is no current tab to do so
### Steps to reproduce the issue
Update head.html
## Would you like to work on this
Yes i am working on this

[2017-12-27 19:51] nzec opened #550 "Weird TADA effect on FOSSASIA is Based in Asia parallax."
### Expected results
Shouldn't be there.

### Actual results
There is a weird TADA effect on FOSSASIA is Based in Asia parallax. It is very glitchy.

### Steps to reproduce the issue
Remove it!

## Would you like to work on this
Yes.

[2017-12-28 07:22] abishekvashok commented on #543
Font awesome and themifiy icons are there, therefore removing themify and updating existing icons.

[2017-12-28 07:47] abishekvashok opened #558 "Remove reduntant css files"
### Expected results

Only the css file which are used should be kept.

### Actual results

Reduntant and not needed css files are present.

### Steps to reproduce the issue

Go to the css folder of the website and see.

[2017-12-28 09:49] supunTE opened #563 "Blogs and video sections not appearing correctly!"
### Expected results
Make it as earlier.

### Actual results
Not showing pictures of blogs and videos.
![erris](https://user-images.githubusercontent.com/33794760/34406576-d5e58244-ebdf-11e7-8f63-08f0351ad654.png)
![erriss2](https://user-images.githubusercontent.com/33794760/34406577-d6758b00-ebdf-11e7-8c57-1b22e4c94419.png)

### Steps to reproduce the issue
Check and resolve codes errors done by

[2017-12-28 09:51] abishekvashok commented on #563
Open console and close. It will appear.

[2017-12-28 10:07] supunTE commented on #388
Close this issue now! @samyakbvs

[2017-12-28 10:19] supunTE commented on #563
Why?
You said website users to open console and close, No! Find a way for resolve it.
And I want to say it is not working after you said method too.
@abishekvashok

[2017-12-28 12:22] YashKumarVerma commented on #558
working on it 🔥

[2017-12-28 13:05] arjunpandey2003 opened #568 "Remove welcome tab and link the home page to fossasia logo"
### Expected results
Welcome removed and fossasia logo linked to home page
### Actual results

### Steps to reproduce the issue
Update header.html
## Would you like to work on this
Yes i am

[2017-12-28 14:02] niranjannitesh opened #571 "Adding PWA Features to the Site"
### Expected results
Should Load Faster
### Actual results
Loads Very Slowly
### Steps to reproduce the issue
Add Service Workers and Cashing
## Would you like to work on this
Yes.

[2017-12-28 14:17] YashKumarVerma commented on #571
sure ! go ahead @niteshkumarniranjan . Feel free to ask for assistance if needed 😄

[2017-12-28 14:31] #464 closed, assigned to nobody

[2017-12-28 16:02] divitsolanki commented on #563
it is just because of slow loading.

[2017-12-28 16:25] divitsolanki opened #575 "Student Projects - Hover text not visible"
### Expected results
On mouse hover - text should be visible

### Actual results
Text mixed with the background on mouse hover

### Steps to reproduce the issue
Need black overlay layer between text and image with opacity

## Would you like to work on this
Yes

[2017-12-28 18:25] #543 closed, assigned to nobody

[2017-12-28 18:45] saarthakchats opened #582 "2018 summit link added twice"
### Expected results
All links added once
### Actual results
2018 summit link added twice
### Steps to reproduce the issue
Remove one
## Would you like to work on this
Yes

[2017-12-28 19:03] #568 closed, assigned to nobody

[2017-12-28 19:03] #548 closed, assigned to nobody

[2017-12-28 19:49] #582 closed, assigned to nobody

[2017-12-28 19:58] saarthakchats opened #587 "Bugged Pinterest links"
### Expected results
All working links
### Actual results
Pinterest link are not to any profile
### Steps to reproduce the issue
remove them
## Would you like to work on this
yes

[2017-12-29 07:37] #587 closed, assigned to nobody

[2017-12-29 08:04] #499 closed, assigned to nobody

[2017-12-29 08:04] #550 closed, assigned to nobody

[2017-12-29 10:38] arjunpandey2003 opened #599 "Add scrolling effect to the back to the top button"
### Expected results
The button, when clicked should scroll to the top on the home page
### Actual results
Currentlly it goes to the top with any effect
### Steps to reproduce the issue
Update index.html.
## Would you like to work on this
Yes I am

[2017-12-29 10:50] #599 closed, assigned to nobody

[2017-12-29 11:10] abishekvashok commented on #558
Sure @YashKumarVerma

[2017-12-29 12:52] supunTE opened #602 "Add a asciinema section"
### Expected results
Collect ascii casts from students and make a asciinema section.

### Actual results
No section for this yet.

### Steps to reproduce the issue
Change codes

## Would you like to work on this
I am working on this!

[2017-12-29 15:53] nzec commented on #602
Really cool idea! Do you think there will be many casts? I think it'd be empty.
@fossasia/fossasia-gci Need help!

[2017-12-29 16:02] abishekvashok commented on #602
Hmm, it seems to be nice idea.

[2017-12-29 16:21] nzec opened #606 "Add on-scroll animations in activities.html"
### Expected results
There are on-scroll animations in activities.html.

### Actual results
Currently there are no animations in `activities.html`

### Steps to reproduce the issue
Add on-scroll animations using the **AOS Libirary**

### Would you like to work on this
Yes.

[2017-12-29 16:35] 0x48piraj opened #608 "[bug] The menu bar get distorted on scrolling."
### Expected results
The icon should not float like that.

### Actual results
![image](https://user-images.githubusercontent.com/5800726/34441784-ff22d300-ece3-11e7-90e8-dde28d707a18.png)

### Steps to reproduce the issue
Hover to _**gci17.fossasia.org/activities**_

## Would you like to work on this

**Bug ? Yes !! :+1:**

[2017-12-29 17:06] 0x48piraj opened #610 "Add a back to top button as in `index.html`"
### Expected results

Back to top button to quickly look into all the content present. :100:

### Actual results

**No other navigation tool is currently present other than scrollbar.** :worried:

## Would you like to work on this

**Yep.**

[2017-12-29 17:17] 0x48piraj opened #614 "[discussion] Why GCI'16 contributors are there ?"
![image](https://user-images.githubusercontent.com/5800726/34442697-d336025c-ece9-11e7-8d54-f407fac8f400.png)

Ping :
@vaibhavsingh97 @ParthS007 @ms10398  @harshit98 @anshumanv @YashKumarVerma @abishekvashok @STEdirisuriya @duttaditya18  @Ploypiti

[2017-12-29 18:03] yashk0thari opened #616 "'ENG' dropdown is not viewable"
### Expected results
'ENG' dropdown to be viewable

### Actual results
'ENG' dropdown not viewable

### Steps to reproduce the issue
go to gci17.fossasia.org

## Would you like to work on this
YES !!

[2017-12-29 18:05] yashk0thari commented on #616
![screen shot 2017-12-29 at 11 34 03 pm](https://user-images.githubusercontent.com/33036913/34444000-e9dae1e2-ecf0-11e7-84e8-e75b3608c262.png)

[2017-12-29 18:30] saarthakchats opened #618 "Problems with navbar"
### Expected results
Perfect navbar
### Actual results
Problems: Eng not viewable, other bugs, lack of space
### Steps to reproduce the issue
Fix them!
## Would you like to work on this
Yes

[2017-12-29 19:54] supunTE commented on #602
no there will be lot of asciicasts @duttaditya18

[2017-12-29 21:51] #610 closed, assigned to nobody

[2017-12-29 22:48] 0x48piraj opened #622 "Improve Responsive flicker-powered gallery by 0x48piraj"
### Expected results

**_Should have similar design like other sections. :+1:_**

### Actual results

_Seems a little hollow for now._ :worried:

## Would you like to work on this
**Yo !**

[2017-12-29 23:00] #622 closed, assigned to nobody

[2017-12-29 23:07] ParthS007 commented on #36
closing it as all mentors are added 👍

[2017-12-29 23:07] #36 closed, assigned to nobody

[2017-12-29 23:07] #211 closed, assigned to nobody

[2017-12-29 23:08] #275 closed, assigned to nobody

[2017-12-29 23:09] ParthS007 commented on #305
@ChenNuode  Please close this or update your status if not resolved 👍

[2017-12-29 23:09] #324 closed, assigned to nobody

[2017-12-29 23:09] #388 closed, assigned to nobody

[2017-12-29 23:10] ParthS007 commented on #415
@STEdirisuriya  Please update your status or close this if resolved 👍

[2017-12-29 23:11] ParthS007 commented on #415
@STEdirisuriya Please update your status or close this if resolved 👍

[2017-12-29 23:12] #455 closed, assigned to nobody

[2017-12-29 23:12] ParthS007 commented on #469
All Mentors are added already

[2017-12-29 23:12] #469 closed, assigned to nobody

[2017-12-29 23:12] #523 closed, assigned to nobody

[2017-12-29 23:13] #544 closed, assigned to nobody

[2017-12-29 23:13] ParthS007 commented on #547
Update your status @STEdirisuriya  👍

[2017-12-29 23:14] ParthS007 commented on #558
@abishekvashok Please close this if resolved 👍

[2017-12-29 23:19] ParthS007 commented on #614
@0x48piraj  It's just a link to previous year contributors, I don't think any discussion is needed 👍

[2017-12-29 23:19] #614 closed, assigned to nobody

[2017-12-29 23:21] ParthS007 commented on #608
@0x48piraj  I am not able to reproduce the issue, can you just recheck again by pulling latest changes. Thanks 👍

[2017-12-29 23:27] #415 closed, assigned to nobody

[2017-12-29 23:32] ParthS007 opened #624 "Icons are not appearing at many places"
### Expected results
Icons and logo should be there.

### Actual results (Providing Screenshots)
**Below Header**
![image](https://user-images.githubusercontent.com/24358501/34449455-5f0dbd2c-ed1e-11e7-8f0e-05b2de7f28e1.png)

![image](https://user-images.githubusercontent.com/24358501/34449483-a48e549c-ed1e-11e7-9f7d-c2b82e02b954.png)

[2017-12-29 23:35] ParthS007 opened #625 "FOSSASIA Projects are not showing properly"
### Expected results
Projects should appear as they were before

### Actual results (Providing Screenshot)
![image](https://user-images.githubusercontent.com/24358501/34449513-065abd64-ed1f-11e7-8303-57207a105b9c.png)

[2017-12-29 23:40] ParthS007 opened #626 "Students section is not appearing"
### Expected results
Students should be visible

### Actual results
![image](https://user-images.githubusercontent.com/24358501/34449578-9a169834-ed1f-11e7-9b54-408a650fb5c6.png)

[2017-12-29 23:42] 0x48piraj commented on #614
@ParthS007 There should be this year's contributors. No ?

[2017-12-29 23:52] 0x48piraj commented on #626
![image](https://user-images.githubusercontent.com/5800726/34449712-6aa4eefa-ed21-11e7-8920-a8c5680bd07e.png)

This too @ParthS007

[2017-12-29 23:59] 0x48piraj commented on #608
Okay, will check after those bug fixes are merged. :+1:

[2017-12-30 00:23] 0x48piraj opened #628 "[BUG] Blogs and Videos sections are not appearing!"
### Expected results

**Blogs and Videos sections should appear.**

### Actual results

![image](https://user-images.githubusercontent.com/5800726/34449991-ba333f90-ed25-11e7-99fc-8b4460db7944.png)
![image](https://user-images.githubusercontent.com/5800726/34449997-c85b0cd8-ed25-11e7-9cfc-7717631123ae.png)

### Steps to reproduce the issue

Visit the website.

## Would you like to work on this

**

[2017-12-30 00:33] 0x48piraj opened #629 "Wrong image in Blog Section"
### Expected results
Correct image.
### Actual results
![image](https://user-images.githubusercontent.com/5800726/34450079-05a04332-ed27-11e7-9efe-8e9ed05c3daf.png)

## Would you like to work on this
No !! Ping @AmanSingh200

[2017-12-30 02:55] #305 closed, assigned to nobody

[2017-12-30 03:49] #618 closed, assigned to nobody

[2017-12-30 04:53] yashk0thari commented on #616
![screen shot 2017-12-30 at 10 21 01 am](https://user-images.githubusercontent.com/33036913/34451427-50254e38-ed4b-11e7-9494-3740e2033e03.png)

[2017-12-30 04:54] yashk0thari commented on #616
i am having this problem; have checked in multiple browsers (Chrome; Safari) ...

[2017-12-30 06:10] samyakbvs opened #632 "Deutsch Transaltion"
### Expected results
Deutsch Translation should be added
### Actual results
Deutsch Translation not added
## Would you like to work on this
Yes!

[2017-12-30 07:52] saarthakchats opened #636 "Greek translation missing from "Thanks for contributing section""
### Expected results
Greek translation present
### Actual results
Greek translation missing
### Steps to reproduce the issue
Add it
## Would you like to work on this
Yes

[2017-12-30 08:05] vaibhavsingh97 opened #638 "Indentation of files"
### Expected results
All files should be indented propely

### Actual results
Files are not properly indented

## Would you like to work on this
Yes

[2017-12-30 08:38] arjunpandey2003 opened #641 "More Language translation contributors section"
### Expected results
More languages were added

### Actual results
Some are not there is currently not there
### Steps to reproduce the issue
Update index.html
## Would you like to work on this
Yes I am

[2017-12-30 08:52] #636 closed, assigned to nobody

[2017-12-30 09:37] #641 closed, assigned to nobody

[2017-12-30 11:18] samyakbvs commented on #638
claiming

[2017-12-30 11:19] samyakbvs opened #645 "Thank you for contributing"
The section has disappeared

[2017-12-30 11:26] samyakbvs opened #647 "The translation section in the navbar"
That section is no longer required as g-translate plugin has been added

working on it

[2017-12-30 11:27] #647 closed, assigned to nobody

[2017-12-30 11:33] saarthakchats opened #648 "Add geolocation"
### Expected results
Geolocation present
### Actual results
My geolocation not there
### Steps to reproduce the issue
Add it
## Would you like to work on this
Yes

[2017-12-30 11:36] supunTE commented on #638
@vaibhavsingh97 Please close this . I made a issue already for this https://github.com/fossasia/gci17.fossasia.org/issues/547 . And I am working on it. Please give few days. I will make it.

[2017-12-30 11:42] abishekvashok commented on #547
@STEdirisuriya we can't afford this now. We can only do this after GCI as otherwise it will lead to conflicts of almost all forks.

[2017-12-30 11:42] vaibhavsingh97 commented on #638
Duplicate of #547

[2017-12-30 11:42] #638 closed, assigned to nobody

[2017-12-30 11:44] vaibhavsingh97 commented on #547
@STEdirisuriya Let's this issue open for beginners/New commers.

[2017-12-30 11:46] abishekvashok commented on #547
@vaibhavsingh97 as I mentioned it would cause a lot of conflicts if we do it all in one go. Can we update this to break it?

[2017-12-30 11:47] abishekvashok commented on #558
@ParthS007 note yet. The PR is still to be merged. He was referencing this issue no: from his commit

[2017-12-30 11:48] vaibhavsingh97 commented on #547
@abishekvashok Only somefiles are not indented and this repo is purely for learning so let students learn how to resolve conflicts 😉
Moreover, I am always here to help

[2017-12-30 11:49] abishekvashok commented on #547
@vaibhavsingh97 it's fine then :)

[2017-12-30 11:52] #648 closed, assigned to nobody

[2017-12-30 11:54] #606 closed, assigned to nobody

[2017-12-30 14:17] Chiral13 opened #652 "issue with Lokinder singh's image"
### Expected results
visible image
### Actual results
![gg](https://user-images.githubusercontent.com/34834917/34454878-2f2b9008-ed9a-11e7-8dca-ce75d9b904e8.JPG)

### Steps to reproduce the issue

## Would you like to work on this

[2017-12-30 14:19] #652 closed, assigned to nobody

[2017-12-30 16:02] supunTE commented on #616
Please close this issue now, Now there is not any problem!

[2017-12-30 16:08] supunTE commented on #616
Please close this issue now, Now there is not any problem! Now we using G Translate plugin

[2017-12-30 16:18] supunTE commented on #632
Please close this issue, We don't need now those. we are using G translate plugin, So we have all the language on it. Thank you for contributing!

[2017-12-30 18:01] samyakbvs commented on #645
Working on it!

[2017-12-30 18:50] #625 closed, assigned to nobody

[2017-12-30 18:50] #626 closed, assigned to nobody

[2017-12-30 18:50] #628 closed, assigned to nobody

[2017-12-30 18:54] ParthS007 commented on #563
closing this as fixed in #627

[2017-12-30 18:54] #563 closed, assigned to nobody

[2017-12-30 19:22] saarthakchats opened #655 "Lokinder Singh's image not available/not showing"
### Expected results
All images showing
### Actual results
Lokinder Singh's image not showing
### Steps to reproduce the issue
Fix the problem
## Would you like to work on this
Yes

[2017-12-30 19:45] #655 closed, assigned to nobody

[2017-12-30 19:48] #608 closed, assigned to nobody

[2017-12-30 19:57] saarthakchats opened #658 "Problems with navbar"
### Problems

1. The FOSSASIA navbar button should take to main website
2. There should be a "Home" link on the bar for reaching the landing
### Steps to reproduce the issue
Link main button to the main website and add another home link
## Would you like to work on this
Yes

[2017-12-30 20:00] 0x48piraj commented on #608
Yet there @ParthS007

[2017-12-31 05:13] AllenBEden opened #663 "Contributor's social media post"
### Expected result
Contributor's social media post are not in gci17.fossasia.org site
### Actual results

### Steps to reproduce the issue

## Would you like to work on this

[2017-12-31 06:24] samyakbvs opened #665 "Lokhinder singh"
The image has to be deleted as it was added by mistake

[2017-12-31 06:24] samyakbvs commented on #665
I am working on it

[2017-12-31 07:22] samyakbvs opened #667 "Hamburger"
When the navbar collapses the links re-appear on click on a blank space instead there should be a hamburger

[2017-12-31 07:23] nzec commented on #665
Done by @saarthakchats

[2017-12-31 07:24] samyakbvs commented on #667
I am working on it!

[2017-12-31 08:18] #616 closed, assigned to nobody

[2017-12-31 08:43] yashk0thari opened #670 "Hitesh Reddy's image is not visible in website"
### Expected results
Visible image of blogger (Hitesh Reddy)

### Actual results
Not visible image of blogger (Hitesh Reddy)

### Steps to reproduce the issue
go to gci17.fossasia.org
go to blog section
scroll down

## Would you like to work on this
YES !!

[2017-12-31 08:55] ghost opened #672 "Want To Change My Photo In Fossasia Website Of Google Code In 2017-2018"
I want my current profile picture to be uploaded instead of my previous photo please help me someone

[2017-12-31 10:43] 0x48piraj commented on #672
Yeah! Sure
What kind of help do you need ?

[2017-12-31 10:48] 0x48piraj opened #675 "Embed FOSSASIA Youtube Channel / Youtube Channel Integration"
### Expected results
There should be an integration that takes the visitor to our **FOSSASIA's Youtube Channel**, for subscribing, liking, and watching the videos.

### Actual results
![image](https://user-images.githubusercontent.com/5800726/34461039-bc7ff290-ee45-11e7-8374-6b47806cace3.png)

## Would you like to work on this
#### Yes!!

[2017-12-31 10:55] 0x48piraj opened #676 "Optimize/Clean up `gci17.fossasia.org`"
### Expected results

**Our Website should be fast and clean.**

### Actual results

_**Some unused files are residing which are causing our website to slow down.**_

## Would you like to work on this
**Yo!**

[2017-12-31 11:00] ghost commented on #672
i wanted you to change my old image from fossasia website and upload my
current profile picture to it...

On Sunday, December 31, 2017, Piyush Raj <notifications@github.com> wrote:

[2017-12-31 11:04] 0x48piraj commented on #672
Okay, but I suggest you to DIY.

@ParthS007 @vaibhavsingh97 What do you all say ?

[2017-12-31 11:18] ghost commented on #672
DIY MEANS

On Sunday, December 31, 2017, Piyush Raj <notifications@github.com> wrote:

[2017-12-31 11:20] 0x48piraj commented on #672
Do it yourself.

Anyways, send the picture of 240x240 size. If mentors will agree I or any other student will do that.

[2017-12-31 11:43] harshit98 opened #678 "Resolve all the console errors."
### Expected results

No console errors should be present when gci17.fossasia.org is visited.

### Actual results

A lot of console errors are coming up when gci17.fossasia.org is visited.

Here are some screenshots:

![screen shot 2017-12-31 at 5 08 16 pm](https://user-images.githubusercontent.com/22245418/34461363-830fe850-ee4d-11e7-8569-4063ad891a8f.png)
![screen shot 2017-12-31 at 5 08 40 pm](

[2017-12-31 11:48] ghost commented on #672
ok please .. please do it for me..

On Sun, Dec 31, 2017 at 4:50 PM, Piyush Raj <notifications@github.com>
wrote:

[2017-12-31 12:03] #675 closed, assigned to nobody

[2017-12-31 12:04] 0x48piraj commented on #672
@harshit98 Please help.

[2017-12-31 12:42] arjunpandey2003 opened #681 "Add more social media. Enhance it"
### Expected results
One more linked icon was added
### Actual results

### Steps to reproduce the issue
Update the index.html
## Would you like to work on this
Yes I am

[2017-12-31 13:26] #676 closed, assigned to nobody

[2017-12-31 13:29] #681 closed, assigned to nobody

[2017-12-31 13:29] #658 closed, assigned to nobody

[2017-12-31 13:40] yashk0thari opened #683 "Aman Singh's image is not visible properly !!"
### Expected results
visible image of blogger (Aman)

### Actual results
not visible image of blogger (Aman)

### Steps to reproduce the issue
go to gci17.fossasia.org
go to blog section
scroll down

## Would you like to work on this
YES !!

[2017-12-31 14:30] supunTE opened #685 "Introductory video about FOSSASIA on first visit."
### Expected results
Add a introductory video about FOSSASIA on first visit of user.

### Actual results
There are not any introduction yet.

### Steps to reproduce the issue
Add a codes to make this.

## Would you like to work on this
Anyone work.

[2017-12-31 14:33] supunTE commented on #547
@vaibhavsingh97 Thanks for helping! i opened it for new comers.
 @abishekvashok Thank you too

[2017-12-31 14:34] STEdirisuriya commented on #547
I am indenting now index.html

[2017-12-31 15:46] saarthakchats opened #686 "Need to add codeheat to navbar"
### Expected results
Codeheat present
### Actual results
Not there
### Steps to reproduce the issue
Add it
## Would you like to work on this
Yes

[2017-12-31 15:56] realslimshanky opened #688 "Getting a XSS warning from NoScript Extension"
### Expected results
There should be no warning regarding any of the js scripts used on the website.

### Actual results
The warning is displayed below.
![image](https://user-images.githubusercontent.com/10004530/34462782-2a38b1fc-ee71-11e7-93c6-080c0829e4bc.png)

### Steps to reproduce the issue
Install [NoScript](https://noscript.net/) extension on your browser and visit gci.fossasia.org

## Wou

[2017-12-31 15:59] realslimshanky commented on #678
I would like to work on this issue. Please assign me as I'll send the PR as soon as I'm finished.

[2017-12-31 16:08] abishekvashok commented on #678
Please go on @realslimshanky

[2017-12-31 16:09] realslimshanky opened #689 "Cannot install Jekyll with just ruby on linux"
### Expected results
Jekyll can be installed after installing required dependencies and following steps 1 and 2 given in [installation file](https://github.com/fossasia/gci17.fossasia.org/blob/gh-pages/installation/installation_linux.md)

### Actual results
Jekyll cannot be installed and throws following error.
`ERROR: Failed to build gem native extension.`

### Steps to reproduce the issue
Simply

[2017-12-31 16:10] abishekvashok commented on #689
Link is returning 404

[2017-12-31 16:10] realslimshanky commented on #678
Thanks, @abishekvashok. I'll be replying with a PR soon.

[2017-12-31 16:11] realslimshanky commented on #689
@abishekvashok, fixed.

[2017-12-31 16:34] nzec commented on #672
@demonsingh336 All right. I am on it! Can you tell me the pages in which your photo needs to be replace? (I am guessing only the GCI website)

And should I change it into your current Github image?

[2017-12-31 16:34] nzec commented on #667
Close this.

[2017-12-31 16:40] #686 closed, assigned to nobody

[2017-12-31 16:40] #685 closed, assigned to nobody

[2017-12-31 18:06] ghost commented on #672
yess.... change it by my current github profile picture...
website is gci17.fossasia.org

On Sunday, December 31, 2017, Aditya Dutt <notifications@github.com> wrote:

[2017-12-31 18:39] NaviRocker opened #693 "Add a Video"
Add a Video in Videos Section

[2017-12-31 19:14] #693 closed, assigned to nobody

[2017-12-31 19:28] #689 closed, assigned to nobody

[2017-12-31 21:47] realslimshanky commented on #678
I'm unable to build the app for Heroku. The web server is not running after deployment. Please guide me to what I'm doing wrong.
cc: @harshit98 @abishekvashok

Update. I've uploaded the site to github.io instead in order to debug it.

[2018-01-01 04:33] nzec commented on #683
@Beta-King Close this.

[2018-01-01 04:42] supunTE opened #698 "Change animations in "Whats happen in the last summit" box."
### Expected results
Remove and add new animation for this picture that not improve site quality and speed.

### Actual results
![animation](https://user-images.githubusercontent.com/33794760/34465636-04b9bef6-eedc-11e7-91af-19aa32e218ef.png)
This animation makes it slower and decrease site quality.

### Steps to reproduce the issue
Change codes in js and css files!

## Would you like to work on t

[2018-01-01 04:45] supunTE opened #699 "Blogs, Videos sections are not responsive."
### Expected results
Make them responsive.

### Actual results
Those sections are not responsive.

### Steps to reproduce the issue
Make those as other sections.

## Would you like to work on this
Anyone work!

[2018-01-01 05:54] #672 closed, assigned to nobody

[2018-01-01 05:59] mrthunjai opened #701 "Removing old commits"
### Expected results
 to remove the previous commits
### Actual results
i am not able to remove it
### Steps to reproduce the issue

## Would you like to work on this

[2018-01-01 06:00] mrthunjai commented on #701
@ParthS007

[2018-01-01 06:00] mrthunjai commented on #701
help

[2018-01-01 06:19] YashKumarVerma opened #702 "Wrong Install Instructions"
### Expected results
- The install instructions should be correct 🔥
### Actual results
- Windows install instructions contain the command `ls` which should be `dir`

### Steps to reproduce the issue
- Edit the documentation

## Would you like to work on this
Working.

[2018-01-01 06:58] nzec commented on #698
@STEdirisuriya Already solved in #569

[2018-01-01 07:11] nzec opened #706 "Problems in activities.html"
### Expected results
There are quite a few problems in the activities.html page.

* [x] Add activities to nav bar.
* [x] It says issues in the button, change that to activities.
* [x] <s>The button takes the user to the issues page, instead, it should take the user to here `https://github.com/fossasia/gci17.fossasia.org/issues?utf8=%E2%9C%93&q=is%3Aopen+` </s>
([Not required](https://github.com/fo

[2018-01-01 07:14] nzec commented on #699
@STEdirisuriya I think this was fixed by #569 . If you think that this is not completely responsive, please attach an image.

[2018-01-01 07:30] nzec commented on #706
#707 Solves the first 3 issues.

[2018-01-01 08:39] supunTE opened #708 "Add example to YML files."
### Expected results
Add example for how to add details on YML files.
like this:
[code]

### Actual results
There are only one example in `Students_Projects.yml ` like above.

### Steps to reproduce the issue
Add comments like above into all YML files.

## Would you like to work on this
Anyone work on this.

[2018-01-01 08:39] samyakbvs opened #709 "Vatsal Jain"
He is a GCI participant but his image isn't added
Working on it

[2018-01-01 08:44] STEdirisuriya commented on #699
Oh! yes it works. But on local not working

[2018-01-01 08:45] nzec commented on #699
@STEdirisuriya Rebase your repository. It is `52 commits behind fossasia:gh-pages. `

[2018-01-01 08:46] nzec commented on #709
@samyakbvs There are several students who have not added their image. Please let them add their own images.

[2018-01-01 08:52] nzec commented on #670
Close this.

[2018-01-01 08:53] yashk0thari commented on #670
Ohk :D Happy New Year

[2018-01-01 08:53] nzec commented on #663
@AdeeshPe Can you please elaborate on the issue?

[2018-01-01 08:54] nzec commented on #670
@Beta-King Happy New Year 🎉

[2018-01-01 09:37] harshit98 commented on #709
Even I think it's better he should add his image himself.

[2018-01-01 09:37] #709 closed, assigned to nobody

[2018-01-01 09:38] nzec commented on #708
@STEdirisuriya Claiming! ❤️

[2018-01-01 11:24] #708 closed, assigned to nobody

[2018-01-01 11:59] samyakbvs opened #715 "Responsiveness"
![screen shot 2018-01-01 at 3 54 08 pm](https://user-images.githubusercontent.com/34275800/34467477-483a68fa-ef19-11e7-825d-37f389027f3c.png)

Align them properly
working on it

[2018-01-01 12:41] #701 closed, assigned to nobody

[2018-01-01 12:41] #699 closed, assigned to nobody

[2018-01-01 12:41] #683 closed, assigned to nobody

[2018-01-01 12:42] #698 closed, assigned to nobody

[2018-01-01 12:43] #670 closed, assigned to nobody

[2018-01-01 12:43] #667 closed, assigned to nobody

[2018-01-01 12:43] #665 closed, assigned to nobody

[2018-01-01 12:43] #663 closed, assigned to nobody

[2018-01-01 12:43] harshit98 commented on #645
What's the status @samyakbvs ?

[2018-01-01 12:43] #632 closed, assigned to nobody

[2018-01-01 12:44] harshit98 commented on #629
@0x48piraj Can you fix it by keeping another image related to programming stuff or related?

[2018-01-01 12:45] harshit98 commented on #624
@ParthS007 Please check if all bugs have been solved and close the issue.

[2018-01-01 12:46] harshit98 commented on #602
I think there is no need to add asciinema section. It will result in slow loading of website.

[2018-01-01 12:46] #602 closed, assigned to nobody

[2018-01-01 12:47] harshit98 commented on #575
Hi @divitsolanki what's the status of this issue?

[2018-01-01 12:47] harshit98 commented on #571
@niteshkumarniranjan what's the status of this issue?

[2018-01-01 12:48] harshit98 commented on #558
@YashKumarVerma Please refer PR no. here in which fix has been done. If your PR has been merged, @abishekvashok please close this issue.

[2018-01-01 12:51] 0x48piraj commented on #629
Yeah, why not!
Will do. :+1:

[2018-01-01 12:57] harshit98 commented on #83
Closing this issue. Follow up translations issue here: #445

[2018-01-01 12:57] #83 closed, assigned to nobody

[2018-01-01 13:01] duttaditya18 commented on #706
@harshit98 Can you add the help needed label?

[2018-01-01 13:04] harshit98 commented on #84
This issue has been completed successfully. Closing it.

[2018-01-01 13:04] #84 closed, assigned to nobody

[2018-01-01 13:06] harshit98 commented on #363
I'm closing this issue. If something has been missed, create a separate issue for it.

[2018-01-01 13:06] #363 closed, assigned to nobody

[2018-01-01 16:46] niteshkumarniranjan commented on #571
@harshit98 for adding pwa features it requires HTTPS in the websites.
so, thats the reason. I had implemented the pwa features but it would require HTTPS.

[2018-01-01 16:49] niranjannitesh commented on #571
@harshit98 I had completed my work and I will create an PR.

[2018-01-01 19:48] aryan-02 commented on #715
Hi
I have a fix for this: it can be solved using a flexbox with media queries.

[2018-01-01 21:33] aryan-02 commented on #715
Okay, fixed.

[2018-01-02 01:41] isuruAb commented on #715
hello @aryan-02  , @samyakbvs  is already working on it.

[2018-01-02 07:57] nzec commented on #706
@harshit98 @ParthS007 Can you add the help needed label?

[2018-01-02 07:57] #702 closed, assigned to nobody

[2018-01-02 08:51] Ploypiti opened #732 "Add installation steps in French"
### Expected results
Installation steps in French.

## Would you like to work on this
Yep.

[2018-01-02 09:32] hshafaq7 opened #735 "Addiang my image to the repository"
![haider1](https://user-images.githubusercontent.com/34957702/34479624-e24cb40c-efcd-11e7-83f4-7921fe396574.JPG)

[2018-01-02 10:26] #732 closed, assigned to nobody

[2018-01-02 11:14] aryan-02 opened #741 "`Thanks for contributing` section not working"
There's a blank black-coloured section on the homepage. I did an inspect element and found that it had an
`<h2> element` with some strings entered in the `data-rotate attribute`. It seems there's some Javascript/JQuery plugin which is either not included or not working.

### Steps to reproduce the issue
Open the site and scroll down until you see a black section with no content.
## I would love to

[2018-01-02 12:00] nzec opened #742 "Make the video section responsive"
### Expected results
A responsive video section.

### Actual results
Not responsive.

The blog section was made responsive by #569 but the same styles were not applied on the Video Section.

## Would you like to work on this
**If anyone wants to work on this, go ahead!**

[2018-01-02 14:08] #558 closed, assigned to nobody

[2018-01-02 16:34] aryan-02 commented on #741
Okay, I'm working on it with a new plugin, does that sound good?

[2018-01-02 18:02] saarthakchats opened #749 "Navbar is bugged: Items pushed out of the navbar"
### Expected results
Properly formatted navbar
### Actual results
Quick links dropdown is out
![screenshot 16 _li](https://user-images.githubusercontent.com/24372680/34494182-37955b52-f015-11e7-8242-c175db602f9e.jpg)

### Steps to reproduce the issue
Make more space
## Would you like to work on this
Yes

[2018-01-02 18:09] #571 closed, assigned to nobody

[2018-01-02 18:53] #749 closed, assigned to nobody

[2018-01-02 18:54] #629 closed, assigned to nobody

[2018-01-02 19:14] m1guelpf commented on #688
https://github.com/fossasia/gci17.fossasia.org/pull/754

[2018-01-02 20:10] 0x48piraj opened #755 "Website: Improve Loading Times and Code Quality of FOSSASIA Google Code-In website"
### Expected results
Make our website fast! (if not blazing fast!)

### Actual results
Our website lags now, and it's loading time is greater than other websites.

### Steps to reproduce the issue
**_Visit : https://gci17.fossasia.org/_**

## Would you like to work on this

**GCI Students!**

[2018-01-02 20:13] 0x48piraj commented on #755
@ParthS007 @vaibhavsingh97 @harshit98 Please add `help_wanted` label.

[2018-01-03 03:01] #688 closed, assigned to nobody

[2018-01-03 04:29] notsoocool opened #763 "I Am unable to upload my video"
I Am unable to upload my img it is showing that,

Uploads are disabled.
File uploads require push access to this repository.

[2018-01-03 04:34] nzec opened #764 "Arrows in Image Slider not working."
### Expected results
The arrows should be showing up.

### Actual results
They are not showing up.

![Image](https://i.imgur.com/l7JiWRX.png)

### Would you like to work on this
Yes.

[2018-01-03 05:01] nzec opened #766 "Twitter icon in footer not working."
### Expected results
The Twitter icons must be showing up.

### Actual results
They are not showing up.

### Would you like to work on this
**Yes.**

[2018-01-03 05:11] nzec commented on #766
I am still working on it.

[2018-01-03 06:20] #764 closed, assigned to nobody

[2018-01-03 06:35] saarthakchats opened #768 "Code Quality of header.html needs to be improved"
### Expected results
Good code quality
### Actual results
Bad indentation with blank spaces
### Steps to reproduce the issue
Fix it
## Would you like to work on this
Yes

[2018-01-03 06:37] arjunpandey2003 opened #769 "Fix color of buttons"
### Expected results
The right button should be red like all buttons
### Actual results
<img width="474" alt="screen shot 2018-01-03 at 12 04 47 pm" src="https://user-images.githubusercontent.com/25302509/34510970-51a42ce4-f07e-11e7-94f5-cb258a81faf3.png">
also increase some space here
<img width="647" alt="screen shot 2018-01-03 at 12 09 03 pm" src="https://user-images.githubusercontent.com/25302

[2018-01-03 07:30] nzec opened #774 "Problems with repositories.html"
There are the following problems which must be fixed :
* [ ] Change layout in order to not have an image. (Like in activities.html)
* [ ] Make the page more accessible. Like, have a button in index.html to go to this page.

### Would you like to work on this
I am working on the first point.

[2018-01-03 08:30] #766 closed, assigned to nobody

[2018-01-03 10:24] #769 closed, assigned to nobody

[2018-01-03 11:50] samyakbvs opened #775 "Blog"
### Expected results
There should be a more button
### Actual results
There is no button
## Would you like to work on this
Yes

[2018-01-03 13:16] supunTE opened #776 "Add search box for contributors, students, mentors, videos, blogs sections"
### Expected results
Add search box for contributors, students, mentors, videos, blogs sections  for find them easily

### Actual results
No search box yet.

## Would you like to work on this
If you like to work, no problem!

[2018-01-03 13:19] supunTE commented on #763
Close this issue, You can ask this on the gitter channel.

[2018-01-03 13:47] harshit98 commented on #755
Reopening it. Still more work has to be done.

[2018-01-03 14:16] supunTE commented on #699
@duttaditya18 Sorry for that I didn't see

[2018-01-03 15:19] #768 closed, assigned to nobody

[2018-01-04 06:21] nzec opened #781 "All images in ASCIINEMA section are not 240x240"
### Expected results
They should be 240x240

### Actual results
They are not

## Would you like to work on this
Yes. On it!

[2018-01-04 06:21] #781 closed, assigned to nobody

[2018-01-04 08:07] 0x48piraj opened #786 "Map is completely broken!"
### Expected results
Map should be responsive and should work!
### Actual results
![image](https://user-images.githubusercontent.com/5800726/34554747-66053026-f154-11e7-8ac5-cca398cf9854.png)

## Would you like to work on this
Yes, but anyone can take it without asking! just put a comment and start working :+1:

[2018-01-04 11:35] 0x48piraj commented on #755
Thanks @anshumanv :wink:

[2018-01-04 13:04] supunTE opened #791 "Add a document about how to add asciinecasts"
### Expected results
add a document about how to add asciicast on README.md

### Actual results
no document about that

### Steps to reproduce the issue
Open README.md and add there.

## Would you like to work on this
Sure. I am working

[2018-01-04 17:15] nzec commented on #791
Close this.

[2018-01-04 17:47] 0x48piraj opened #795 "asciicast dimensions are broken"
### Expected results
Same sized icons.
### Actual results
Different sized icons.
![image](https://user-images.githubusercontent.com/5800726/34577155-3883e7d0-f1a6-11e7-89d5-b12e549551a5.png)

### Steps to reproduce the issue
Visit our website
## Would you like to work on this

I will suggest @abishekvashok to-do it. *(hint : he made img-checker last year.)*

[2018-01-05 08:59] #791 closed, assigned to nobody

[2018-01-05 09:00] ParthS007 commented on #575
closing this as everything is working fine 👍

[2018-01-05 09:00] #575 closed, assigned to nobody

[2018-01-05 09:02] #624 closed, assigned to nobody

[2018-01-05 09:05] ParthS007 commented on #742
Please update @duttaditya18

[2018-01-05 09:10] #763 closed, assigned to nobody

[2018-01-05 09:12] ParthS007 commented on #775
Please update your status @samyakbvs

[2018-01-05 11:13] duttaditya18 commented on #742
@ParthS007 Anyone can work on this. Do you want me to work on this again? If yes, can you tell me what was wrong with my old PR.

[2018-01-05 13:17] supunTE commented on #795
@0x48piraj Thank you finding issues with ascciicast section, But there is a problem,
The asciicast section uses images from direct by asciinema site, So you have to give a method any other  good sole without adding images into site folder, If we use  site folder it's not good idea. Please try to give an another idea with upload it direct from asciicast site.

[2018-01-05 21:46] aryan-02 commented on #741
https://github.com/fossasia/gci17.fossasia.org/pull/801

[2018-01-06 09:16] Mridulbirla13 commented on #735
Where do you want to add the image?

[2018-01-06 14:49] MomtahinaKarim commented on #735
I want to add image to the blog.

On 6 January 2018 at 15:16, Mridul Birla <notifications@github.com> wrote:

[2018-01-06 20:06] #741 closed, assigned to nobody

[2018-01-07 04:00] NaviRocker opened #817 "Add Code of Conduct and Contributor Best Practices"
![gci](https://user-images.githubusercontent.com/16055010/34646412-2590b976-f38d-11e7-8093-8629d7ff5685.PNG)

I am Working on it.

[2018-01-07 05:19] #817 closed, assigned to nobody

[2018-01-07 09:06] saarthakchats opened #821 "Will add my video"

[2018-01-07 09:54] #821 closed, assigned to nobody

[2018-01-08 11:23] nzec commented on #776
@STEdirisuriya Working on Mentors and Students!

[2018-01-08 11:41] apoorvkhare07 commented on #645
@harshit98 Can you please explain the issue further ?
If @samyakbvs is not working on it, I would like to work on this.

[2018-01-09 09:46] yashk0thari opened #846 "Add to the student project section :D"
### Expected results
More info on the student project section

### Actual results
Just links to student projects; nothing else

### Steps to reproduce the issue
go to gci17.fossasia.org
scroll down to student project section

## Would you like to work on this
YES !!

[2018-01-09 16:40] jamessandy commented on #776
can I help ?

[2018-01-09 17:48] realslimshanky commented on #786
![image](https://user-images.githubusercontent.com/10004530/34734845-45632e48-f593-11e7-88bb-1f900d3fa3bb.png)
Map works for me, could you please check if your browser is allowing scripts to import OpenLayers/open street maps resources? I think the problem lies on the client side.

[2018-01-09 17:50] realslimshanky commented on #846
Please close this issue as it has been fixed in #730. Nice work @Beta-King  :+1:

[2018-01-09 18:22] 0x48piraj commented on #786
Yes, It's not working.

[2018-01-10 11:26] nzec commented on #776
@jamessandy Sure! Go on!

[2018-01-10 11:45] nzec opened #863 "Remove unused fonts and improve code quality/indentation."
### Expected results
There are no unused fonts/css files on the website. And all the files have good code indentation.

### Actual results
There are some unused css files.

## Would you like to work on this
Yup!

[2018-01-10 14:23] #678 closed, assigned to nobody

[2018-01-10 17:55] shashwat1002 opened #876 "The blog post links should be displaying titles as default"
### Expected results
The blog post links should be displaying titles as default
### Actual results
The pictures of authors are displayed as default, this leads to several images of the same person for different blog post and the user isn't able to see the tit;e of the blog post unless he/she hovers
### Steps to reproduce the issue
scroll over to the blogs section
## Would you like to work on this

[2018-01-10 18:18] samyakbvs opened #878 "Hamburger"
A lot of elements of the navbar are falling outside of the navbar so we need to extend the length of the Hamburger

Working on it!
Pls don't take up this issue as I might complete it till tomorrow night

[2018-01-10 22:15] #863 closed, assigned to nobody

[2018-01-10 22:17] #735 closed, assigned to nobody

[2018-01-10 22:18] #846 closed, assigned to nobody

[2018-01-12 05:08] Ploypiti commented on #774
@duttaditya18 Can I work on point 2?

[2018-01-12 05:45] anshumanv commented on #774
Sure @Ploypiti

[2018-01-12 13:55] NaviRocker opened #889 "Add New Blogs"
Add New Blogs to the Blog Section

[2018-01-12 14:03] #889 closed, assigned to nobody

[2018-01-12 20:54] YashKumarVerma opened #895 "Video entry in asciicast"
### Expected results
Only asciicasts should be there

### Actual results
There is a video entry

### Steps to reproduce the issue
Remove it

## Would you like to work on this
Yes

[2018-01-13 06:27] #895 closed, assigned to nobody

[2018-01-13 15:10] aryan-02 commented on #645
Hi, this was fixed in PR #801

[2018-01-13 15:11] aryan-02 commented on #645
And Issue #741

[2018-01-13 15:53] #645 closed, assigned to nobody

[2018-01-13 17:06] aryan-02 opened #905 "Multiple design flaws"
### Expected results
A complete redesign or just improvements to the design of the website, keeping in mind the principles of minimalism, clean design, consistency and blank spaces while preserving the actual content. This ideally should be achieved through partial fixes of this issue.

Here are some resources for reference.
https://material.io/guidelines/
https://thenextweb.com/dd/2017/11/08/psyc

[2018-01-13 17:11] samyakbvs commented on #905
Firstly I am improving the navbar

[2018-01-13 17:12] aryan-02 commented on #905
Great! Please go ahead.
Till then, I'm removing the smooth scroll

[2018-01-13 17:22] yashk0thari opened #908 "Alignment"
### Expected results
All buttons aligned properly

### Actual results
irregularly aligned buttons

### Steps to reproduce the issue
go to gci17.fossasia.org

## Would you like to work on this
YES !!

[2018-01-13 17:26] samyakbvs commented on #905
Fixing the blog section

[2018-01-13 17:53] #908 closed, assigned to nobody

[2018-01-14 04:52] samyakbvs opened #910 "Asciicasts"
### Expected results
The alignment of the Asciicasts should be correct
### Actual results
The alignment is not correct
### Steps to reproduce the issue
Resize
## Would you like to work on this
Yes! Pls don't take up this issue as i will fix it after sometime

[2018-01-14 07:47] tanya-vedi commented on #547
Can I solve this issue?

[2018-01-14 12:12] NaviRocker opened #920 "Add a Video"
Add a Video to the Video Section

[2018-01-14 13:53] #920 closed, assigned to nobody

[2018-01-14 13:55] NaviRocker opened #923 "Add a Blog"
Add a New Blog to the Blog Section

[2018-01-14 20:12] #923 closed, assigned to nobody

[2018-01-15 15:48] samyakbvs opened #932 "Combining all internal links into one dropdown"
I guess the title is self explanatory

Pls don't take up this issue I am working on it

[2018-01-15 16:12] NaviRocker opened #933 "Add a Video"
Add a Video to the Video Section of the Google Code-In site.

[2018-01-15 16:28] #933 closed, assigned to nobody

[2018-01-16 03:32] yashk0thari opened #939 "Add links to the projects corresponding websites :D"
### Expected results
a link to the project's website

### Actual results
just a link to their GitHub Pages

### Steps to reproduce the issue
Go to gci17.fossasia.org
scroll to the project section

## Would you like to work on this
YES !!

[2018-01-16 19:19] #939 closed, assigned to nobody

[2018-01-16 19:20] ParthS007 commented on #910
@samyakbvs Please update or close this if resolved 👍

[2018-01-16 19:20] ParthS007 commented on #905
@aryan-02  Please update or close this if resolved 👍

[2018-01-16 19:20] ParthS007 commented on #878
Please update or close this if resolved 👍

[2018-01-16 19:21] ParthS007 commented on #876
@shashwat1002 Please update or close this if resolved 👍

[2018-01-16 19:21] ParthS007 commented on #795
@0x48piraj Please update or close this if resolved 👍

[2018-01-16 19:22] ParthS007 commented on #786
@0x48piraj Please update or close this if resolved 👍

[2018-01-16 19:22] ParthS007 commented on #775
closing due to inactivity 👍

[2018-01-16 19:22] #775 closed, assigned to nobody

[2018-01-16 19:23] ParthS007 commented on #755
@0x48piraj  Please update or close this if resolved 👍

[2018-01-16 19:27] 0x48piraj commented on #795
@ParthS007
It's still present.

[2018-01-16 19:28] 0x48piraj commented on #755
I don't think now anyone will do task, so closing it :+1:
I'll improve the website myself, and specify in Pull Request.

[2018-01-16 19:28] #755 closed, assigned to nobody

[2018-01-16 19:29] 0x48piraj commented on #786
It still not works for my laptop.
I'm closing this, if the bug arises, someone will open it.

[2018-01-16 19:29] #786 closed, assigned to nobody

[2018-01-16 21:07] 0x48piraj commented on #608
Thanks @saarthakchats

[2018-01-16 21:08] 0x48piraj commented on #608
Thanks @saarthakchats
Closing :+1:

[2018-01-17 17:11] #876 closed, assigned to nobody

[2018-01-18 01:12] #910 closed, assigned to nobody

[2018-01-18 13:07] YashKumarVerma commented on #932
update ?

[2018-01-20 19:12] verma1997 commented on #776
Hi. I want to help. Is this issue is only about creating a search box? I mean what you really want in that search box.

[2018-01-21 02:57] nzec commented on #776
@verma1997 We want to create a search box that searches and displays the result. Sure, go ahead!

[2018-02-01 18:49] mariobehling opened #950 "Delete Google Auto-Translation"
Integrating auto-translating results in translations of low quality. Please delete the translation. It is also not required for the website showcase.

[2018-02-01 18:58] mariobehling opened #951 "Clean up for archiving"
Please help to clean up the site and just keep what is needed to archive the site.

Please take out and delete the following:
* https://gci17.fossasia.org/repositories.html
* https://gci17.fossasia.org/activities
* Quick Links from all pages

[2018-02-01 19:05] mariobehling opened #952 "Add Image from the video instead of FOSSASIA logo to video sections"
The video section has a lot of video with the FOSSASIA logo as a representation. Instead use an image from the videos itself.

![screenshot from 2018-02-01 20-03-57](https://user-images.githubusercontent.com/1583873/35697674-33b2aeee-078b-11e8-8d60-83d9095f0b92.png)

[2018-02-01 19:07] mariobehling opened #953 "Delete Sections on Start Page"
The following sections contain duplicate info. Please delete them:

* [x] FOSSASIA in Social Media

![screenshot from 2018-02-01 20-02-12](https://user-images.githubusercontent.com/1583873/35697598-eec9dcd0-078a-11e8-8399-665308feee5d.png)

* The section "FOSSASIA Google Code-In 2016/17 Here are some videos from last year FOSSASIA Google Code-In!"
  * Add the videos from this section to the video

[2018-02-01 20:00] #953 closed, assigned to nobody

[2018-02-01 20:00] #951 closed, assigned to nobody

[2018-02-01 20:00] #932 closed, assigned to nobody

[2018-02-01 20:01] #905 closed, assigned to nobody

[2018-02-01 20:01] #878 closed, assigned to nobody

[2018-02-01 20:01] #774 closed, assigned to nobody

[2018-02-01 20:02] #706 closed, assigned to nobody

[2018-02-01 20:02] #445 closed, assigned to nobody

[2018-02-01 20:02] #547 closed, assigned to nobody

[2018-02-01 20:02] #221 closed, assigned to nobody

[2018-02-01 20:03] #302 closed, assigned to nobody

[2018-02-01 20:03] #950 closed, assigned to nobody

[2018-02-01 20:05] mariobehling opened #954 "Show a top down arrow on the GCI drop down menu item"
Show a top down arrow on the GCI drop down menu item same as on "FOSSASIA Projects" drop-down menu item. Ensure the GCI logo stays. You probably have to adapt the CSS.

![screenshot from 2018-02-01 21-04-07](https://user-images.githubusercontent.com/1583873/35700577-a689e844-0793-11e8-9a89-446321522334.png)

[2018-02-01 20:12] mariobehling opened #955 "Change the color of sections"
* Map Section: Red similar to "FOSSASIA Based in Asia." section
* Student Section: Greenish
* Blog Posts Section: Blueish
* Video Section: Orange

Please ensure buttons are still visible easily. Choose a color that keeps the buttons visible, please.

[2018-02-01 20:12] #795 closed, assigned to nobody

[2018-02-01 20:13] #715 closed, assigned to nobody

[2018-02-01 20:33] mariobehling opened #956 "Center Mentor Map to Asia and Increase Scale"
The map is currently not centered to Asia. Please also increase the scale as show in the screenshot below.

![screenshot from 2018-02-01 21-32-16](https://user-images.githubusercontent.com/1583873/35701840-8491b204-0797-11e8-9ed9-b820b7b9e51c.png)

[2018-02-01 20:37] mariobehling opened #957 "Fix gray area on bottom"
On the bottom area the picture sometimes shows up without a gray bar above and sometimes with a gray bar above.

Expected: No gray bar show appear above.

![screenshot from 2018-02-01 21-36-02](https://user-images.githubusercontent.com/1583873/35701971-0c7848ae-0798-11e8-8ac6-53acb009a33d.png)

[2018-02-01 20:39] mariobehling opened #958 "Header often not loading as expected"
The header area sometimes does not load the javascript effects. Probable cause is that the Javascript effects are stored in the footer instead of the header.

Please help to fix this.

![screenshot from 2018-02-01 21-37-39](https://user-images.githubusercontent.com/1583873/35702065-4c546192-0798-11e8-8f8e-57ff49b624e8.png)

[2018-02-01 20:41] mariobehling opened #959 "Contributors section only shows 30 contributors"
The contributors section only shows 30 contributors. There should be more than 100. Please investigate the GitHub API and find a way to show the other contributors. There are options in the API to show more contributors through the API calls.

[2018-02-01 20:57] mariobehling opened #960 "Add a section winners and finalists"
Please add a section for winners and finalists showing the image and relevant data as an overlay.

Add the section above "COMMUNITY CONNECT".

[2018-02-01 21:01] mariobehling opened #961 "Add Social Media icons in menu on top right"
Please add the following social media icons in the top right:
* Twitter
* Facebook
* Github
* YouTube

[2018-02-01 21:04] mariobehling opened #962 "Archive the blog post pages on FOSSASIA Repo itself"
Blog posts disappear from the web sometimes as websites and links change. Please archive the linked posts on the FOSSASIA repo itself and link to them as a second link on the blog post icon image.

[2018-02-01 21:42] mariobehling opened #963 "Take out moving right/left arrow icons on header"
The icons left/right arrow are duplicating the feature that is already implemented below. It is also not a high priority to have a feature to switch between images left and right.

Please take this out.

![screenshot from 2018-02-01 22-40-56](https://user-images.githubusercontent.com/1583873/35704890-2910f502-07a1-11e8-8bf4-d6a7ceb07daa.png)

[2018-02-02 11:23] #742 closed, assigned to nobody

[2018-02-02 13:29] rupav commented on #959
Working on it @mariobehling . Its set to default of 30 response per page, can be maximized to 100.

[2018-02-02 14:06] #959 closed, assigned to nobody

[2018-02-03 08:22] rupav commented on #963
claiming this.

[2018-02-07 08:05] #954 closed, assigned to nobody

[2018-02-07 09:41] #955 closed, assigned to nobody

[2018-02-07 12:59] ankurg22 commented on #960
Claiming

[2018-02-08 04:49] #961 closed, assigned to nobody

[2018-02-08 13:23] Dipesh-Budhiraja opened #969 "Responsiveness bug in "Students Projects" section"
![error](https://user-images.githubusercontent.com/29384452/35974928-f1ce783e-0d00-11e8-951a-31da7ff8ae83.png)

The button shown in the picture is overflowing. Can I work on this bug?

[2018-02-08 16:50] anshumanv commented on #969
Yes you can work on it.

[2018-02-08 19:34] ankurg22 commented on #963
@rupav Are you working on this? Or can I claim?

[2018-02-08 19:40] rupav commented on #963
You can work on it

[2018-02-08 19:42] ankurg22 commented on #963
Thankyou

[2018-02-09 10:28] #960 closed, assigned to nobody

[2018-02-09 10:47] mariobehling opened #971 "Drop-down has red overlay on drop-down: It should not"
The red background on the drop down menu does not make sense here as we are not using the standard FOSSASIA style here.

Please revert this color change. Research the previous gray color and revert to it.

![screenshot from 2018-02-09 11-46-34](https://user-images.githubusercontent.com/1583873/36024117-fea24b9c-0d8e-11e8-8298-94011ba1a4cd.png)

[2018-02-09 10:48] yashLadha commented on #971
Shall I send a PR for this, or is meant for GCI students only

[2018-02-09 10:50] mariobehling opened #972 "URGENT: Top slideshow not loading properly"
The top slideshow is not loading properly. It often only loads on reload. Probable reason: The responsible JS is in the footer instead of the header. Also take out the arrows on right and left.

![screenshot from 2018-02-09 11-50-01](https://user-images.githubusercontent.com/1583873/36024227-6755bb4c-0d8f-11e8-8cae-0cf58eee625b.png)

[2018-02-09 10:52] mariobehling opened #973 "Many images are not scaled properly"
Many images, e.g. of students are not scaled properly. In fact they are scaled instead of cropped. This results in faces being stretched unnaturally.

Please fix the images.

![screenshot from 2018-02-09 11-42-22](https://user-images.githubusercontent.com/1583873/36024309-aed2aab6-0d8f-11e8-9a74-0a6256bb0379.png)

[2018-02-09 10:57] mariobehling opened #974 "Info icon on participants become -black- invisible on scroll over"
The info icon on mentors, participants etc. becomes black on scroll over and it is hard to see. It should be light gray.

![screenshot from 2018-02-09 11-54-58](https://user-images.githubusercontent.com/1583873/36024548-58bdacc4-0d90-11e8-9d88-143b48cd8ed2.png)

[2018-02-09 11:14] yashLadha commented on #974
I am sending a fix for that.

[2018-02-09 11:57] #974 closed, assigned to nobody

[2018-02-09 11:59] mariobehling opened #976 "Group Social Media Icons"
The social media icons on the top menu take up more space than they should take.

Please group the social media icons and reduce the space between them.

![screenshot from 2018-02-09 12-55-31](https://user-images.githubusercontent.com/1583873/36026812-ff664844-0d98-11e8-957e-af6b8c7f7415.png)

[2018-02-09 12:21] ankurg22 commented on #971
@yashLadha Shall I proceed or are you working on this? If yes, then here is the pull request which changed the scroll over color. https://github.com/fossasia/gci17.fossasia.org/pull/229/

[2018-02-09 12:28] mariobehling opened #977 "Add an area "Contribution Winners""
* Add the remaining leaders who are not grand prize winners or finalist winners in an area "Contribution Winners" (below the winners/finalists). See here https://codein.withgoogle.com/organizations/fossasia/
* Rename "Finalists" to "Finalist Winners"

[2018-02-09 12:29] ankurg22 commented on #976
Claiming

[2018-02-09 12:37] mariobehling opened #978 "Change "Contributors" section from 3 columns to 6 columns and reduce image size"
The contributors section takes up a lot of space. Please change the section from 3 columns to 6 columns and reduce image size accordingly.

![screenshot from 2018-02-09 13-35-48](https://user-images.githubusercontent.com/1583873/36028170-4e4d20d6-0d9e-11e8-88d8-a6369316ac81.png)

[2018-02-09 13:03] rupav commented on #977
claiming

[2018-02-09 13:35] prshntsingh commented on #978
claiming

[2018-02-09 13:40] #977 closed, assigned to nobody

[2018-02-09 14:37] mariobehling opened #981 "Top Menu Bar not visible on scroll up"
The top menu bar used to become visible when a user scrolled up. It was a kind of intelligent appearance of the bar. Now this feature is not functioning anymore. The menu bar seems only be visible when it is on top.

Please revert this and make this feature functioning again.

[2018-02-09 14:38] mariobehling commented on #981
It seems to work sometimes. I assume the JS is stored in the footer and this results in the regular error.

[2018-02-09 21:02] mariobehling opened #982 "Add missing mentors"
Here is a list of all mentors of 2017/18

* [ ] Alex Henrie | Alex | Henrie
* [x] Nguyen Hoang Phu | Hoang Phu | Nguyen
* [ ] Ali Ayub Khan | Ali Ayub | Khan
* [ ] Mishari Muqbil | Mishari | Muqbil
* [ ] Aric Stewart | Aric | Stewart
* [ ] Padmal | Madhushanka | Padmal
* [ ] Soong Chee Gi | Soong Chee | Gi
* [x] RAHUL TIWARI | RAHUL | TIWARI
* [x] Suneet Srivastava | Suneet | Srivastava
* [x] Rupa

[2018-02-09 21:04] #972 closed, assigned to yashLadha

[2018-02-10 07:01] ankurg22 commented on #958
Please close this. It is solved in #980

[2018-02-10 07:01] ankurg22 commented on #963
Also close this one. Solved in #980

[2018-02-10 07:04] #958 closed, assigned to nobody

[2018-02-10 07:05] #963 closed, assigned to nobody

[2018-02-10 07:49] NaviRocker commented on #982
@mariobehling Sir, How can I update your Comment?
Already 42 Mentors are there on the Site https://gci17.fossasia.org/mentors

[2018-02-10 10:54] nzec commented on #982
@naveentherocker Make a new comment and tick the required checkboxes.

[2018-02-10 14:40] supunTE opened #984 "Simple fix need"
### Expected results.
Create it to seperate like first.

### Actual results
Two pictures with text overlapped
![image](https://user-images.githubusercontent.com/33794760/36063071-3573f278-0e9e-11e8-8541-13ef2b316fb6.png)

### Steps to reproduce the issue

## Would you like to work on this
No

[2018-02-10 14:43] yashLadha commented on #984
This was solved in  #972. Try to again open the website in a new tab, may be this is because of internet connectivity. @STEdirisuriya . I have tested it on two other laptops and it is working fine. Please try to check your internet connection.

[2018-02-11 10:17] #971 closed, assigned to nobody

[2018-02-11 12:00] #976 closed, assigned to nobody

[2018-02-15 19:40] #978 closed, assigned to nobody

[2018-05-16 19:06] Rupeshiya commented on #982
@mariobehling  what we have to do  or we need to add those tick marks mentors or all those mentors ?

[2018-05-16 21:49] anshumanv commented on #982
@Rupeshiya the ticked ones are already present, please help in adding the ones which are not present.

[2018-10-29 15:05] #984 closed, assigned to nobody

[2018-12-09 06:31] #982 closed, assigned to nobody

[2018-12-21 10:16] #776 closed, assigned to nobody

[2018-12-21 10:16] #952 closed, assigned to nobody

[2018-12-21 10:17] mariobehling opened #993 "Delete external fonts and substitute with internal fonts"
MaxCDN and Google fonts are linked and loaded from external sources. We are pro-actively sharing data with others and should not do this. Please include the fonts etc. internally and don't load it from external sources.

[2018-12-22 02:53] Dharmesh-Poddar commented on #993
Working..

[2020-06-23 12:21] Raunaksingh100 commented on #956
can i work on this issue

[2020-06-23 12:22] Raunaksingh100 commented on #957
i want to work on this issue

[2020-06-24 16:06] Raunaksingh100 commented on #956
can i work on this issue ??

[2021-05-07 20:00] Vaibhav-afk commented on #962
Can you please elaborate what we have to do?

[2021-05-15 12:02] marizvi commented on #973
i have generated a pull request for the same, kindly merge it if it is working properly..

[2021-05-18 07:30] ambivert-sam commented on #973
I would like to work on this issue, can you please assign it to me? @mariobehling

[2021-05-18 07:35] ambivert-sam commented on #957
I would like to work on this issue, will you please assign it to me?

[2021-05-24 07:40] Raunaksingh100 commented on #957
No need of assign just fixed the bug and create the pr for this!!

[2021-10-10 06:01] neeraj15022001 commented on #993
i can pick this @mariobehling

[2021-10-10 06:02] neeraj15022001 commented on #969
i can work on this @anshumanv

[2021-10-10 06:03] neeraj15022001 commented on #981
So, you want a sticky Header. I can work this one too @mariobehling

[2021-10-10 06:05] neeraj15022001 commented on #957
i can work this our @mariobehling

[2021-10-10 08:29] championpaddler commented on #957
@neeraj15022001  You can go ahead and create the fix pull request and tag the us back.

[2021-10-10 10:32] neeraj15022001 commented on #957
@sk9331657 @mariobehling i checked out code and i believe that because image-container is almost of size of image in height, so when we are moving it up and down by transforming it in parallex.js so it is showing empty background when size of image is exceeded.
My Solution - To Remove Parallex.js and use css to make parallex effect
Benefits -  Remove Unnecessary JS which will improve UX and make w

[2021-10-22 12:20] Parna2000 commented on #981
I can solve this issue. Please assign me this issue so that i can fix this @mariobehling

[2022-04-17 18:33] v1nshul commented on #956
I would like to work on this.
Thank You

[2022-04-17 18:45] v1nshul commented on #956
i would like to work on this.

[2022-08-30 22:54] Aman1143 commented on #993
Hii i want to fix this issue . allow me to work on it.

[2022-08-30 22:56] Aman1143 commented on #981
i want to fix this issue. please allow me to fix it.